<template>
   <div>
    <category-tree :workflowID="workflowID"></category-tree>
    <simple-dialog :id="dialogID">
      <template v-slot:body>
         <v-container>
            <v-layout>
               <v-flex xs11>
                  <operator :workflowID="operatorID"></operator>
               </v-flex>
               <v-flex xs1 class="d-flex justify-center align-center">
                  <v-btn @click="abrirCategory" color="primary">
                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small>category</v-icon>
                        </template>
                        <span>Inserir/remover categorias</span>
                     </v-tooltip>
                  </v-btn>
               </v-flex>
            </v-layout>
         </v-container>
      </template>

      <template v-slot:header-before-title>
         <v-btn icon dark @click="sair()">
            <v-icon>close</v-icon>
         </v-btn>
      </template>

      <template v-slot:header-after-title>
      <v-spacer></v-spacer>
      <v-btn icon dark v-bind:disabled="!canSave" @click="salvar()">
         <v-icon>check</v-icon>
      </v-btn>
      </template>

      <template v-slot:actions>
         <div></div>
      </template>
    </simple-dialog>
   </div>
</template>

<script>
	import {
		SimpleDialogHelper,
		SimpleDialog
   } from "@/helper/simpleDialogHelper.js";
   import Operator from "@/components/tema/popup/list/options/customoptions/weather/searchFilter/Operator.vue"
   import CategoryTree from "@/components/tema/popup/list/options/customoptions/weather/searchFilter/CategoryTree.vue"
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      watch: {
         treeSelectMenu: function(val, oldVal){
            this.updateRuleValue()
         }
      },

      computed: {
         operator()
         {
            return this.$store.getters['operator/get']({workflowID: this.operatorID})
         },

         treeSelectMenu(){
            return this.$store.getters['categoryTrees/get']({workflowID: this.workflowID})
         },

         canSave()
         {
            let operator = this.operator
            for(let rule of operator.rules)
            {
               if(!rule.condition || !rule.operator || !rule.value || !rule.variable)
                  return false
            }

            return true
         }
      },

      created: function()
      {
        this.dialogHelper = new SimpleDialogHelper(this.dialogID);
        this.dialogHelper
        .setTitle(`Escolha o filtro desejado`)
        .width('90%')
        .loading(false)
        .open();

        this.loadOperator()
      },

      data: function(){
         return {
            dialogHelper: null,
            operatorID: this.workflowID + '_search_filter',
            dialogID: this.workflowID + "_search_filter"
         }
      },

      components: {
        SimpleDialog,
        Operator,
        CategoryTree
      },

      methods: {
         salvar(){
            this.dialogHelper.close();
            this._close();
         },

         async sair(){
            await this._clearCurrentOption()
            this.dialogHelper.close();
            await this._refresh()
         },

         abrirCategory(){
            new SimpleDialogHelper(this.workflowID+'_tree').toggle();
         },

         updateRuleValue(){
            let rule = this.operator.rules[0] || null

            if(!rule)
               return null

            let categorys = this.theme.additionalData.search.categoryIDs
            rule.value = categorys.join(',')
         },

         loadOperator()
         {
            if(!this.theme.additionalData.hasOwnProperty('search') || !this.theme.additionalData.search.hasOwnProperty('rules'))
            {
               this.theme.additionalData.search = this.theme.additionalData.search || {}
               this.$set(this.theme.additionalData.search, 'rules', []);
            }

            let operatorsCollection = [
               {
                  label: "Se produtos",
                  value: "if"
               }
            ]

            let operatorsAttributes = {
               if: [
                  {
                     label: "mais vendidos",
                     value: "catBestSeller",
                  },
                  {
                     label: "novidades",
                     value: "catNew",
                  },
                  {
                     label: "novidades",
                     value: "catNew",
                  },
                  {
                     label: "promocionais",
                     value: "catPromotional",
                  }
               ]
            }

            let attributesConditions = {
               catBestSeller: {
                     if: [
                     {
                        label: 'tem categorias',
                        value: 'in'
                     }
                  ]
               },
               catNew: {
                     if: [
                     {
                        label: 'tem categorias',
                        value: 'in'
                     }
                  ]
               },
               catPromotional: {
                     if: [
                     {
                        label: 'tem categorias',
                        value: 'in'
                     }
                  ]
               },
            }

            let rules = this.theme.additionalData.search.rules
            if(rules.length == 0)
               rules.push({ operator: {}, variable: {}, condition: {}, value: null })

            this.$store.dispatch('operator/set', {
               workflowID: this.operatorID,
               payload: {
                  rules: rules,
                  operatorsCollection: operatorsCollection,
                  operatorsAttributes: operatorsAttributes,
                  attributesConditions: attributesConditions
               }
            })
         }
      }
   };
</script>