<template>
   <v-container pa-0>
      <v-layout row wrap text-xs-center align-center justify-center>
         <v-flex xs4 text-xs-justify>
            Utilizar categoria: 
         </v-flex>
         <v-flex xs8 text-xs-justify>
            <v-select
               v-if="categoryCollection.length"
               label="Categoria"
               v-model="line.additionalData.categoryID"
               item-text="name"
               item-value="id"
               :items="categoryCollection"
            ></v-select>
         </v-flex>
      </v-layout>
   </v-container>
</template>

<script>
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   import LineDefaultMixin from '@/components/tema/list/line/mixins/defaultMixin.js'
   import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js";
   
   import IndexSearchesAPI from "@/api/searches/indexApi.js";
   import TreeHelper from '@/components/tree/helper/TreeHelper.js';

   export default {
      mixins: [DefaultMixin, LineDefaultMixin],

      components: {
      },

      computed: {
         themeType(){
            return (new WorkflowStoreHelper("paginaListaTemaDataTable").get()).type
         },
      },

      watch: {
      },

      methods: {
         async getCategoryCollection()
         {
            let indexAPI = new IndexSearchesAPI()
            let responseData = await indexAPI.all()

            let categoryTree = responseData.data.data

            let objTree = new TreeHelper(categoryTree)
            let cursor = objTree.iterate()
            let iterator = cursor.next()

            let collection = new Array()

            while(iterator.done == false)
            {
               let node = iterator.value

               if(node.path == null)
                  node.path = node.name

               collection.push(node)
               iterator = cursor.next()
            }

            return collection
         },

         async prepareCategoryCollection()
         {
            let categorys = await this.getCategoryCollection()
            this.categoryCollection = categorys
         },

         async prepareComponentModel()
         {
            this.line.componentModel.searchTypeDescription = this.searchTypeDescription
         },
      },

      created: function() {
      },

      data() {
         return {
            searchTypeDescription: null,
            categoryCollection: new Array
         }
      }
   }
</script>