<template>
   <div>
      <simple-dialog id="editorDesignHTML">
         <template v-slot:body>
            <advanced-edit></advanced-edit>
         </template>

         <template v-slot:actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat @click="$router.go(-1)">Fechar</v-btn>
         </template>
      </simple-dialog>
   </div>
</template>
   
   <script>
      import { SimpleDialogHelper, SimpleDialog } from "@/helper/simpleDialogHelper.js"
      import AdvancedEdit from '@/components/tema/linha/design/AdvancedEdit.vue';
   
      export default {
         components: {
            AdvancedEdit,
            SimpleDialog
         },
   
         filters: {
         },
   
         methods: {
         },
   
         created: function () {
            let editorDesignHTMLDialog = new SimpleDialogHelper('editorDesignHTML')
            
            editorDesignHTMLDialog
             .setTitle('Editor Avançado')
             .fullscreen(true)
             .loading(false)
             .open()
         },
      };
   </script>