<template>
    <e-chart
      :path-option="[
            ['dataset.source', dataSource],
            ['color', [color.red.base, color.indigo.base, color.pink.base, color.green.base, color.cyan.base, color.teal.base]],
            ['legend.orient', 'horizontal'],
            ['legend.y', 'bottom'],
            ['xAxis.show', false],
            ['yAxis.show', false],
            ['series[0].type', 'pie'],
            ['series[0].radius', ['50%', '70%']]
        ]"
      height="350px"
      width="100%"
    ></e-chart>
</template>

<script>
import ThemeConversionPie from '@/components/dashboard/pie/themeConversionPie.vue';
import AccessDeviceAPI from "@/api/statistic/history/accessDevice.js"

export default {
  extends: ThemeConversionPie,

  data(){
    return {
      api: new AccessDeviceAPI()
    }
  },

  methods: {

    async updateDataSource() {

      let period = this.period
      let toDate = new Date().toISOString()
      
      let fromDate = new Date()

      let fromDays = period.fromDays
      let diffDays = fromDays * 24 //hours
      fromDate.setHours(diffDays)
      fromDate = fromDate.toISOString()
      
      let response = await this.api.get(fromDate, toDate)

      let sourceCollection = response.data.data.map(item => {
        
        let name = null
        
        switch(item.mobile)
        {
          case true:
            name = 'Mobile'
            break;
          case false:
            name = 'Desktop'
            break;
          default:
            name = 'Desconhecido'
        }

        return {
          value: item.total,
          name: name
        }
      })

      if(sourceCollection.length == 0)
        sourceCollection.push({ value: 0, name:  'Nenhum' })

      sourceCollection = sourceCollection.filter(item => {
        return item.name == 'Desconhecido' ? false : true
      })

      this.dataSource = sourceCollection
      
    }
  }
};
</script>