<template>
    <e-chart
      :path-option="[
            ['dataset.source', dataSource],
            ['color', [color.green.base, color.teal.base, color.lightBlue.base, color.indigo.base, color.pink.base, color.cyan.base]],
            ['legend.orient', 'horizontal'],
            ['legend.y', 'bottom'],
            ['xAxis.show', false],
            ['yAxis.show', false],
            ['series[0].type', 'pie'],
            ['series[0].radius', ['50%', '70%']]
        ]"
      height="350px"
      width="100%"
    ></e-chart>
</template>

<script>
import ThemeConversionPie from '@/components/dashboard/pie/themeConversionPie.vue';
import PopupEngagementAPI from "@/api/statistic/popup/engagement.js"

export default {
  extends: ThemeConversionPie,

  data(){
    return {
      api: new PopupEngagementAPI()
    }
  },

  methods: {

    async updateDataSource() {

      let period = this.period
      let toDate = new Date().toISOString()
      
      let fromDate = new Date()

      let fromDays = period.fromDays
      let diffDays = fromDays * 24 //hours
      fromDate.setHours(diffDays)
      fromDate = fromDate.toISOString()
      
      let response = await this.api.get(fromDate, toDate)

      let sourceCollection = response.data.data.map(item => {
        return {
          value: item.total,
          name: item.title
        }
      })

      if(sourceCollection.length == 0)
        sourceCollection.push({ value: 0, name:  'Nenhum' })

      this.dataSource = sourceCollection
    }
  }
};
</script>