<template>
    <e-chart
      :path-option="[
            ['dataset.source', dataSource],
            ['color', [color.lightBlue.base, color.indigo.base, color.pink.base, color.green.base, color.cyan.base, color.teal.base]],
            ['legend.orient', 'horizontal'],
            ['legend.y', 'bottom'],
            ['xAxis.show', false],
            ['yAxis.show', false],
            ['series[0].type', 'pie']
        ]"
      height="350px"
      width="100%"
    ></e-chart>
</template>

<script>

import PieMixin from "@/components/dashboard/pie/mixins/pieMixin.js";
import ThemeConversionAPI from "@/api/statistic/themeConversion.js";

export default {
  mixins: [PieMixin],

  created: function(){
    this.updateDataSource()
  },

  data(){
    return {
      api: new ThemeConversionAPI()
    }
  },

  methods: {
    async updateDataSource() {

      let period = this.period
      let toDate = new Date().toISOString()
      
      let fromDate = new Date()

      let fromDays = period.fromDays
      let diffDays = fromDays * 24 //hours
      fromDate.setHours(diffDays)
      fromDate = fromDate.toISOString()
      
      let response = await this.api.get(fromDate, toDate)

      let sourceCollection = response.data.data.map(item => {
        return {
          value: item.qty,
          name: item.title
        }
      })

      if(sourceCollection.length == 0)
        sourceCollection.push({ value: 0, name:  'Nenhum' })

      this.dataSource = sourceCollection
      
    }
  }
};
</script>