<template>
   <div>
      <v-data-table v-if="collection.length > 0" :headers="data.headers" :items="collection" class="elevation-1">
         <template v-slot:items="props">
            <tr class="text-xs-center">
               <td>
                  <div name="title_edit" v-show="props.item.additionalData.currentOption == 'title'">
                     <title-option :workflowID="workflowID"></title-option>
                  </div>

                  <v-tooltip top>
                     <template v-slot:activator="{ on }">
                        <label v-on="on" @click="setCurrentOption('title', props.item)"
                           v-show="!props.item.additionalData.currentOption">
                           <label class="cursor-text">
                              {{props.item.name}}
                           </label>
                        </label>
                     </template>
                     <span>Trocar titulo</span>
                  </v-tooltip>
               </td>
               <td>
                  {{props.item.typeName}}
               </td>
               <td>
                  {{props.item.actionName}}
               </td>
               <td class="text-xs-center">
                  <div>
                     <div name="container_columns" v-show="!props.item.additionalData.currentOption">
                        <default-columns :item="props.item" :workflowID="workflowID"></default-columns>
                        <custom-columns :item="props.item" :workflowID="workflowID"></custom-columns>
                     </div>
   
                     <div name="container_options">
                        <default-options :item="props.item" :workflowID="workflowID"></default-options>
                        <custom-options :item="props.item" :workflowID="workflowID"></custom-options>
                     </div>
                  </div>
               </td>
            </tr>
         </template>
      </v-data-table>
   </div>
</template>

<script>
   import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js"
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
   import DataTableMixin from '@/components/tema/popup/list/mixins/dataTablemixin.js';
   import CurrentPageStoreMixin from '@/mixin/store/currentPageMixin.js'
   
   import DefaultColumns from "@/components/tema/popup/list/columns/defaultColumns.vue"
   import CustomColumns from "@/components/tema/popup/list/columns/CustomColumns.vue"

   import CustomOptions from "@/components/tema/popup/list/options/CustomOptions.vue"
   import DefaultOptions from "@/components/tema/popup/list/options/DefaultOptions.vue"

   import TitleOption from "@/components/tema/popup/list/options/Title.vue"

   export default {
      mixins: [DataTableMixin, DefaultMixin, CurrentPageStoreMixin],

      props: {
         type: {
            type: String,
            required: true
         }
      },

      created: function(){
         let fnProcess = async () => {
            this.currentPageLoading = true
            await this.loadThemes(this.type);
            this.currentPageLoading = false
         }

         fnProcess()
      },

      components: {
         DefaultColumns,
         CustomColumns,

         DefaultOptions,
         CustomOptions,

         TitleOption
      },

      watch: {
         $route(to, from) {
            let fnProcess = async () => {
               this.currentPageLoading = true
               await this.loadThemes(this.type);
               this.currentPageLoading = false
            }

            fnProcess()
         },

         theme: {
            handler: function(val, oldVal){
               if(val._id)
                  this.updateRow(val)
            },
            deep: true
         }
      },

      methods: {
         async updateRow(curTheme){
            let data = this.data

            let row = data.collection.find(theme => {
               return theme._id == curTheme._id
            })

            if(!row)
               return;

            row = Object.assign(row, curTheme)
            let helper = new WorkflowStoreHelper("listaTemaPopup")

            helper.save(data)
         }
      },

      computed: {
      },

      data() {
         return {
         }
      }
   };
</script>

<style scoped>
      .pointer {
        cursor: pointer;
      }

      .cursor-text{
         cursor: text;
      }
    
      .disabled {
        color: gray;
      }

      div[name='container_columns']{
         display: flex;
         justify-content: center;
      }
    </style>