
<template>
    <v-container pa-0>
      <v-layout row wrap text-xs-center align-center justify-center>

         <v-flex xs4 text-xs-justify>
            Filtro:
         </v-flex>
         <v-flex xs8 text-xs-justify>
            <v-select
               label="Vou filtrar a partir"
               v-model="searchTypeId"
               :items="filterCollection"
               item-text="text"
               item-value="searchTypeId"
            ></v-select>
         </v-flex>

         <v-flex xs12 v-show="searchTypeId == searchTypeIdFilter">
            <v-layout text-xs-center align-center justify-center>
               <v-flex xs4 text-xs-justify>
                  Categoria escolhida:
               </v-flex>
               <v-flex xs8 text-xs-justify>
                  <v-select
                     v-if="categoryCollection.length"
                     label="Filtrar pela categoria"
                     v-model="categoryID"
                     item-text="name"
                     item-value="id"
                     :items="categoryCollection"
                  ></v-select>
               </v-flex>
            </v-layout>
         </v-flex>
      </v-layout>
   </v-container>
</template>

<script>
import ThemeLineFilterMixin from "@/mixin/store/themeLineFilterMixin.js";

export default {
  mixins: [ThemeLineFilterMixin],

  created: function() {},

  props: {
    workflowID: {
      type: String,
      required: true
    }
  },

  methods: {},

  computed: {
    searchTypeId: {
      get() {
        return this.themeLineFilter.searchTypeId
      },

      set(val) {
		this.themeLineFilter.searchTypeId = val
	  }
    },

    searchTypeIdFilter: {
      get() {
        return this.themeLineFilter.searchTypeIdFilter
      },

      set(val) {
		this.themeLineFilter.searchTypeIdFilter = val
	  }
	},

    categoryCollection(){
      return this.themeLineFilter.categoryCollection
    },

    categoryID: {
      get() {
        return this.themeLineFilter.categoryID
      },

      set(val) {
		this.themeLineFilter.categoryID = val
	  }
    },

    filterCollection: {
      get() {
        return this.themeLineFilter.filterCollection
      },

      set(val) {
		this.themeLineFilter.filterCollection = val
	  }
    }
  },

  data() {
    return {
    };
  }
};
</script>