<template>
	<div id="social">
		<card icon="format_paint" sub-title="Gerencie seu menu" color="transparent" title="Meus temas para a categoria">
			<template v-slot:body>
				<v-card color="transparent" class="elevation-0">
					<v-card-text>
						<v-layout row wrap>
							<v-flex sm10>
								Nesta tela você pode configurar as categorias de seu site conforme os modelos sugeridos,
								não existe o melhor modelo, porém existe o modelo mais apropriado para seu negócio,
								você também pode formar seu modelo como preferir. sempre mensurando a taxa de conversao da sua
								loja virtual.
							</v-flex>

							<v-flex text-xs-right sm2>
								<v-btn icon slot="widget-header-action">
									<v-icon @click="initialize()" class="text--secondary">refresh</v-icon>
								</v-btn>
								<v-btn color="success" @click="toggleNovoDialog()" depressed>Novo modelo</v-btn>
							</v-flex>

							<v-flex xs12>
								<v-container grid-list-xl fluid>
									<v-layout row wrap>
										<v-flex md12>
											Abaixo você poderá acompanhar quantas vendas e visualizações seu ecommerce teve para a
											categoria selecionada
										</v-flex>
										<v-flex xs12 sm12 md6 sm6>
											<category-sell-graph ref="categorySellGraph"></category-sell-graph>
										</v-flex>

										<v-flex xs12 sm12 md6 sm6>
											<category-access-graph ref="categoryAccessGraph"></category-access-graph>
										</v-flex>
									</v-layout>

								</v-container>
							</v-flex>

							<v-flex sm12>
								<v-data-table :headers="plainTableData.headers" :items="data.itens" class="elevation-1">
									<template v-slot:items="props">
										<tr style="cursor: pointer;" @click="updateGraph(props.item)">
											<td>{{ props.item.title }}</td>
											<td>
												<v-chip v-if="!props.item.isCurrent" small :color="statusColor(props.item.status)"
													outline>{{ statusText(props.item.status) }}</v-chip>
												<v-chip v-if="props.item.isCurrent" :color="statusColor(props.item.status)" small outline>
													Tema atual ({{ statusText(props.item.status) }})
												</v-chip>
											</td>
											<td class="text-xs-center">
												<v-icon small v-if="props.item.allowDrop" @click="deleteItem(props.item)">delete
												</v-icon>

												<v-tooltip top>
													<template v-slot:activator="{ on }">
														<v-icon v-on="on" small @click="showTreeDialog(props.item)">visibility</v-icon>
													</template>
													<span>Visualizar</span>
												</v-tooltip>
												
												<v-tooltip top v-if="props.item.status != 'sending'">
													<template v-slot:activator="{ on }">
														<v-icon v-on="on" small @click="updateCategory(props.item)">done_all</v-icon>
													</template>
													<span>Enviar menu para loja</span>
												</v-tooltip>
											</td>
										</tr>
									</template>
								</v-data-table>

								<customizable ref="customizableComponent"></customizable>
							</v-flex>
						</v-layout>
					</v-card-text>
				</v-card>
			</template>
		</card>

		<simple-dialog v-if="dialog" id="message"></simple-dialog>

		<simple-dialog v-if="dialog" :id="dialogID">
			<template v-slot:body>
				<node-tree draggable="0" :id="treeID" :workflowID="treeID"></node-tree>
			</template>
		</simple-dialog>

		<v-container grid-list-xl fluid>

		</v-container>
	</div>
</template>
<script>
	import Card from "@/components/Card.vue";
	import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js"
	import NodeTree from "@/components/tree/Tree.vue";
	import PlainTableOrder from "@/components/widgets/list/PlainTableOrder.vue";
	import {
		MenuApi
	} from "@/api/themes/menuApi.js";
	import UpdateCategoryApi from "@/api/service/api/category/reorder";
	import SnackHelper from "@/helper/snack.js";
	import ObserverHelper from "@/helper/observer/observerHelper.js";
	import {
		SimpleDialogHelper,
		SimpleDialog
	} from "@/helper/simpleDialogHelper.js";
	import Customizable from "@/components/menu/organizar/novo/Customizable.vue";
	import CategorySellGraph from "@/components/menu/organizar/list/graph/CategorySellGraph.vue";
	import CategoryAccessGraph from "@/components/menu/organizar/list/graph/CategoryAccessGraph.vue";

	export default {
		components: {
			PlainTableOrder,
			SimpleDialog,
			NodeTree,
			Customizable,
			CategorySellGraph,
			CategoryAccessGraph,
			Card
		},

		methods: {

			async checkHasCategories(){
				let workflowData = this.workflowDataTableHelper.get()

				if(workflowData.itens.length > 0)
					return this.dialogMessage.close()

				this.dialogMessage
					.setTitle(`Estamos buscando algumas coisas`)
					.body('Estamos buscando suas categorias, por favor seja paciente, logo esta pagina será liberada!')
					.loading(false)
					.open()
			},

			updateGraph(item) {
				this.$refs.categorySellGraph.processSummary(item)
				this.$refs.categoryAccessGraph.processSummary(item)
			},

			statusColor(status) {
				let colors = {
					error: 'error',
					'not-sending': 'primary',
					'sending': 'warning',
					'sended': 'green'
				}

				return colors[status]
			},

			statusText(status) {
				let labels = {
					'error': 'Falha',
					'not-sending': 'Não aplicado',
					'sending': 'Enviando',
					'sended': 'Aplicado'
				}

				return labels[status]
			},

			async initialize() {
				this.loading = true;
				this.menuAPI = new MenuApi();
				let response = await this.menuAPI.all()

				let workflowData = this.workflowDataTableHelper.get()
				workflowData.itens = response.data.data
				this.loading = workflowData.itens.length == 0
				this.workflowDataTableHelper.save(workflowData)

				this.snackHelper = new SnackHelper();
			},

			toggleNovoDialog() {
				this.$refs.customizableComponent.showDialogTree()
			},

			async updateCategory(item) {
				this.loading = true;

				try {
					let categoryID = item._id

					let response = await new UpdateCategoryApi().execute(categoryID);
					this.snackHelper.setSuccess('Sua solicitação foi realizada');
					this.initialize();
				} catch (error) {
					this.snackHelper.setError(error.toString());
				}
				finally {
					this.loading = false;
					this.snackHelper.display();
				}
			},

			showTreeDialog(item) {
				let data = item.data
				let workflowHelper = new WorkflowStoreHelper(this.treeID)
				workflowHelper.save(data)

				this.dialog
					.setTitle(`Como sua categoria ficaria usando o modelo: ${item.title}`)
					.loading(false)
					.open()
			},

			deleteItem(item) {
				var snackCfg = {
					show: true,
					y: "top",
					x: null,
					color: "green",
					text: "Sucesso",
					timeout: 2000
				};

				this.menuAPI.delete(item._id).then(
					response => {
						window.getApp.snackbar = snackCfg;

						this.data.itens = this.data.itens.filter(
							searchItem => {
								return searchItem._id != item._id;
							}
						);
					},
					error => {
						snackCfg.color = "red";
						snackCfg.text = "Falha na sua solicitação";
						window.getApp.snackbar = snackCfg;
					}
				);
			}
		},

		computed: {

			loading: {
				get: function(){
					return this.$store.getters['currentPage/get']({workflowID: 'default'}).loading
				},

				set: function(val){
					this.$store.dispatch('currentPage/setLoading', {
						workflowID: 'default',
						payload: val
					})
				}
			},

			dialog: function() {
				return new SimpleDialogHelper(this.dialogID)
			},

			dialogMessage: function(){
				return new SimpleDialogHelper('message')
			}
		},

		created: function () {

			let fnProcess = async () => {
				this.data = new WorkflowStoreHelper('menuOrganizarListPage').get()
				await this.initialize()
				await this.checkHasCategories()

				//Add event's in observer
				if (!ObserverHelper.list.exists('atualizListaTemasCategoria'))
					ObserverHelper.list.add('atualizListaTemasCategoria', this.initialize)

				if (!ObserverHelper.list.exists('atualizarTemaCategoria'))
					ObserverHelper.list.add('atualizarTemaCategoria', this.updateCategory)
			}

			fnProcess()
		},

		data() {
			return {
				workflowDataTableHelper: new WorkflowStoreHelper('menuOrganizarListPage'),
				treeID: "menuOrganizarListItemTree",
				dialogID: "menu",
				plainTableData: {
					headers: [{
							text: "Tema",
							align: "left",
							sortable: false,
							value: "title"
						},
						{
							text: "Status",
							align: "left",
							sortable: true,
							value: "status"
						},
						{
							text: "Opções",
							align: "center",
							sortable: false,
						}
					],
					title: "Temas para categoria"
				}
			};
		}
	};
</script>