<template>
<div></div>
</template>
<script>
   import AbstractType from '@/components/tema/list/line/Search/abstractType.vue';

   export default {
      extends: AbstractType,

      created: function() {
         this.initialize()
         this.prepareComponentModel()
      },

      methods: {
         async setSearchType(catID = this.line.additionalData.categoryID){
            this.line.componentModel.searchTypeId = 11
         },

         async initialize()
         {
            await this.setSearchType()
         },
      },

      data() {
         return {
            searchTypeDescription: 'Similar'
         }
      }
   }
</script>