<template>
   <v-container>
      <v-layout>
         <v-flex xs12>
            <div>
               <label>Modo de visualização: </label>
               <v-tooltip top>
                  <template v-slot:activator="{ on }">
                     <v-icon v-on="on" @click="mobile = !mobile" small>
                        {{mobile ? 'desktop_windows' : 'mobile_screen_share'}}
                     </v-icon>
                  </template>
                  <span>{{mobile ? 'Desktop' : 'Mobile'}}</span>
               </v-tooltip>
            </div>
         </v-flex>
      </v-layout>
   </v-container>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

created: function(){
      },

      data: function(){
         return {
            mobile_: false
         }
      },

      computed: {
         mobile: {
            get: function(){
               return this.mobile_
            },
            set: function(val){
               this.mobile_ = val
            }
         }
      },

      watch: {
         mobile(val, oldVal){
            this.setWidth()
         }
      },

      methods: {
         setWidth(){
            let ele = document.getElementById('popupContainer')
            ele.classList.remove('xs12')

            let cond = {
               'false': {
                  remove: 'xs6',
                  add: 'xs12'
               },
               'true': {
                  remove: 'xs12',
                  add: 'xs6'
               }
            }

            ele.classList.remove(cond[this.mobile.toString()].remove)
            ele.classList.add(cond[this.mobile.toString()].add)
         }
      }
   };
</script>