<template>
   <v-container>
      <v-layout>
         <v-flex xs12>
            <label>Cor de fundo do topo: </label>
            <input @change="color($event)" type="color">
         </v-flex>
      </v-layout>
   </v-container>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
   import StyleHelper from "@/helper/StyleHelper.js";

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      computed: {
      },

      created: function(){
         this.styleHelper = new StyleHelper(this.html)
      },

      data: function(){
         return {
         }
      },

      computed: {
         cssContainer(){
            return `#_${this.theme._id}`
         },
         html: {
            set: function(val){
               this.theme.html = window.btoa(encodeURIComponent(val))
            },
            get: function(){
               return decodeURIComponent(window.atob(this.theme.html))
            }
         }
      },

      methods: {
         color(evt){
            let color = evt.target.value

            this.styleHelper.setRule(`${this.cssContainer} article#popup header`, `
               {
                  background-color: ${color} !important;
               }
            `)

            this.html = this.styleHelper.innerHTML
         },

         getStyle(html)
         {
            let doc = new DOMParser().parseFromString(html, 'text/html').body
            let style = doc.querySelector('style#dash-options')
            if(!style)
            {
               style = document.createElement('style')
               style.id = 'dash-options'
               doc.appendChild(style)
            }

            return style
         }
      }
   };
</script>