<template>
   <div>
      <v-container>
         <v-layout text-xs-center align-center justify-center>
            <v-flex xs12>
               <v-flex xs12>
                  <v-tooltip top>
                     <template v-slot:activator="{ on }">
                        <img v-on="on" id="imageHeader" @click="invokeInput()" :src="image">
                     </template>
                     <span>Clique para alterar</span>
                  </v-tooltip>
                  <input id="input" style="display: none;" type="file" :disabled="!canUpload" accept="image/*" ref="fileInput" @change="onFileChange" >
               </v-flex>
               <v-flex xs12>
                  Recomendado: 300x100
               </v-flex>
            </v-flex>
         </v-layout>
      </v-container>
   </div>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      computed: {
      },

      created: function(){
         if(!this.theme.additionalData.hasOwnProperty('headerImage'))
            this.$set(this.theme.additionalData, 'headerImage', null)

         this.image = this.theme.additionalData.headerImage
      },

      data: function(){
         return {
            image: null,
            canUpload: true,
            dialogID: this.workflowID + "_image"
         }
      },

      components: {
      },

      methods: {
         async onFileChange(event){

            this.canUpload = false

            let file = event.target.files[0]
            let fileReader = new FileReader()
            let result = fileReader.readAsDataURL(file)

            fileReader.onloadend = () => {
               this.image = this.theme.additionalData.headerImage = fileReader.result
               this.canUpload = true
            }
         },
         invokeInput(){
            let ele = document.getElementById('input')
            ele.click()
         }
      }
   };
</script>

<style scoped>
   #imageHeader{
      cursor: pointer;
      border: 1px dashed black;
      width: 300px;
      height: auto;
   }
</style>