<template>
  <div>
      <v-container xs12>
          <v-layout text-xs-center align-center justify-center row wrap>
              <v-flex xs4 ma-1>
                <v-select
                label="Ordernar por:"
                v-model="selectedSort"
                :items="sortCollection"
                ></v-select>
              </v-flex>

              <v-flex xs4 ma-1>
                <v-layout text-xs-center align-center justify-center row wrap>
                  <v-flex xs6>
                    <v-text-field min="1" :max="maxLevels" v-model="level" type="number" label="Qual nível você deseja ordenar?"></v-text-field>
                  </v-flex>
    
                  <v-flex xs6>
                    <v-btn color="primary" v-bind:disabled="!valid" @click="sort()">Ordenar</v-btn>
                  </v-flex>
                </v-layout>
              </v-flex>
          </v-layout>
      </v-container>
  </div>
</template>
<script>
  import Vue from "vue";
  import SortAPI from "@/api/category/sortAPI.js";
  import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js"
  import TreeHelper from "@/components/tree/helper/TreeHelper.js";
  //import { MenuApi, CustomizableCategoryModel } from "@/api/themes/menuApi.js";

  export default {
    data(){
      return {
        menu: null,
        lastCustomizable: null,
        helper: null,
        treeHelper: null,
        treeID: 'customizableTree',
        sortAPI: new SortAPI(),
        level: 1,
        selectedSort: null,
        sortCollection: [
          {
            text: 'Mais visualizadas',
            value: 'sortBestViewed'
          },
          {
            text: 'Mais vendidas',
            value: 'sortBestSeller'
          },
          {
            text: 'Ordem alfabetica',
            value: 'sortAlphabetical'
          }
        ]
      }
    },

    created(){
      this.helper = new WorkflowStoreHelper(this.treeID)
      let data = this.helper.get()
      this.treeHelper = new TreeHelper(data);

      this.paintLevel(this.level)
    },

    computed: {
      valid: function() {
        return this.selectedSort != null && this.level > 0;
      },

      maxLevels: function(){
        return this.treeHelper.getMaxLevels()
      },

      customizableTree: function(){
        return this.$store.state.workflows.customizableTree
      }
    },

    watch: {
      level(newVal, oldVal){
        this.paintLevel(newVal)
      },

      customizableTree: {
        handler: function(val, oldVal){

          let jsonNew = JSON.stringify(val)
      
          if(jsonNew != this.lastCustomizable){
            this.paintLevel(this.level)
            this.lastCustomizable = jsonNew
          }
        },
        deep: true
      }
    },

    methods: {
      async sort(){
        let menu = this.helper.get()

        let level = parseInt(this.level)

        let response = await this.sortAPI.sort(level, this.selectedSort, menu)
        this.helper.save(response)
      },

      async paintLevel(level)
      {
        let tree = this.helper.get()
        this.treeHelper = new TreeHelper(tree);
        this.treeHelper.assignAttributes({paint: false})

        let nodes = this.treeHelper.getLevelBy(level).map(node => {
          node.paint = true
          return node
        })
      }
    }
  };
</script>