<template>
    <div>
        <transition>
        <router-view></router-view>
        </transition>
    </div>   
</template>
<script>

export default {
components: {
},

filters: {
},

methods: {
},

created: function(){
},

};
</script>