<template>
  <div>
    <card icon="view_carousel" color="transparent" title="Temas">
      <template v-slot:body>
        <v-card color="transparent" class="elevation-0">
          <v-card-text>
            <v-layout row wrap>
              <v-flex
                sm10
              >
                {{currentPageDescription}}
              </v-flex>

              <v-flex xs12 mt-4>
                <line-data-table workflowID="currentPopupTheme" :type="pageType"></line-data-table>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </template>
    </card>

    <simple-dialog id="loading"></simple-dialog>
  </div>
</template>
  <style>
.btn {
  min-width: 0 !important;
}
</style>
  <script>
import LineDataTable from "@/components/tema/popup/list/Datatable.vue";
import Card from "@/components/Card.vue";
import {
  SimpleDialogHelper,
  SimpleDialog
} from "@/helper/simpleDialogHelper.js";

import CurrentPopupStoreMixin from '@/mixin/store/currentPopupMixin.js'
import CurrentPageStoreMixin from '@/mixin/store/currentPageMixin.js'

export default {

  components: {
    SimpleDialog,
    Card,
    LineDataTable
  },

  computed: {
    currentPage() {
      return this.$store.getters['currentPage/get']({workflowID: 'default'})
    }
  },

  mixins: [
    CurrentPageStoreMixin,
    CurrentPopupStoreMixin
  ],

  methods: {
    async setDefaultDescription(key)
    {
      key = key || 'default'
      this.currentPageDescription = this.descriptions[key]
    }
  },

  watch: {
    $route(to, from) {
      this.pageType = this.$route.params.type;
    },

    currentPopup: {
      handler: function(val, oldVal){
        let option = val.additionalData.currentOption
        this.setDefaultDescription(option)
      },
      deep: true
    }
  },

  created: function() {
    this.setDefaultDescription()
    this.pageType = this.$route.params.type;
  },

  data: () => {
    return {
      pageType: null,
      descriptions: {
        default: `Os Pop ups são uma maneira eficaz de informar ao seu cliente um super desconto ou um produto esquecido em seu carrinho durante sua navegação anterior, ofereça promoções, escolha sua estratégia e converta ainda mais!`,
        renderMS: `Se você inserir "5" segundos, o popup só irá abrir após o usuário permanecer na tela 5 segundos`,
        'max-itens': `Um exemplo: você escolheu 5 itens na opção "Quantidade de itens exibidos" e para esta opção 10 itens isto fará você ter 2 linhas com 5 itens cada uma, caso use o carrousel, terá 5 itens visiveis, e 5 itens após rolar o carrousel.`,
        coupon: `O código inserido neste recurso será exibido no popup para o cliente`
      }
    };
  }
};
</script>