<template>
   <v-container>
      <v-layout>
         <v-flex xs12>
            <v-flex md-12>
               <label>Frase para visitante novo</label>
               <quill-editor
                  v-model="titles.newUser"
                  :options="config"
               />
            </v-flex>
            <br><br>
            <v-flex md-12>
               <label>Frase para visitante recorrente</label>
               <quill-editor
                  v-model="titles.recurrencyUser"
                  :options="config"
               />
            </v-flex>
         </v-flex>
      </v-layout>
   </v-container>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
   import 'quill/dist/quill.core.css'
   import 'quill/dist/quill.snow.css'
   import 'quill/dist/quill.bubble.css'

   import { quillEditor } from 'vue-quill-editor'

   import Titles from "@/components/tema/popup/list/options/customoptions/abstract/visualEditor/Titles.vue"

   export default {
      
      extends: Titles,

      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      components: {
         quillEditor
      },

      computed: {
      },

      created: function(){
         if(!this.theme.additionalData.hasOwnProperty('titles'))
         {
            this.$set(this.theme.additionalData, 'titles', {
               newUser: null,
               recurrencyUser: null
            });
         }

         this.titles = this.theme.additionalData.titles
      },

      data: function(){
         return {
            titles: {
               newUser: null,
               recurrencyUser: null
            },
            config: {
               modules:{
                  toolbar: [
                     ['bold', 'italic'],
                     [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                     [{ 'color': [] }],
                     ['clean']
                  ],
               }
            }
         }
      },

      methods: {
         fechar(){
            this.theme.additionalData.titles = this.titles
         }
      }
   };
</script>