<template>
  <div>
    <card icon="view_module" color="transparent" title="Dashboard">
      <template v-slot:body>
        <v-card color="transparent" class="elevation-0">
          <v-card-text>
            <v-layout row wrap>
              <v-flex sm12>
                {{currentPageDescription}}
              </v-flex>

              <v-flex xs12 mt-4>
                <datatable workflowID="paginaListaTemaDataTable"></datatable>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </template>
    </card>

    <simple-dialog id="loading"></simple-dialog>
  </div>
</template>
<style>
  .btn {
    min-width: 0 !important;
  }
</style>
<script>
  import Card from "@/components/Card.vue";
  import IndexAPI from "@/api/themes/site/indexApi.js";
  import CurrentThemeStoreMixin from "@/mixin/store/currentThemeMixin.js";
  import Datatable from "@/components/tema/list/Datatable.vue"

  import {
    SimpleDialogHelper,
    SimpleDialog
  } from "@/helper/simpleDialogHelper.js";
  import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js";

  import CurrentPageStoreMixin from '@/mixin/store/currentPageMixin.js'

  export default {

    mixins: [
      CurrentPageStoreMixin,
      CurrentThemeStoreMixin
    ],

    components: {
      Card,
      SimpleDialog,
      Datatable
    },

    filters: {},

    methods: {
      async _getThemes(filters) {
        let apiHelper = new IndexAPI();

        let response = await apiHelper.all(filters);
        return response.data.data;
      },

      async loadThemes() {
        let typeTheme = this.$route.params.typeTheme;
        let data = {
          filters: {
            "additionalData.typeTheme": typeTheme
          }
        };

        let themes = await this._getThemes(data)

        let helper = new WorkflowStoreHelper("paginaListaTemaDataTable")
        let dataTableData = helper.get()

        dataTableData.collection = themes
        dataTableData.title = 'Vitrines do tema'
        dataTableData.type = typeTheme
        dataTableData.headers = [
          {
            text: "Tema de vitrine",
            align: "left",
            sortable: true,
            value: "title"
          },
          {
            text: "Opções",
            align: "center"
          }
        ]

        helper.save(dataTableData)
      },

      async setDefaultDescription(key)
      {
        key = key || 'default'
        this.currentPageDescription = this.descriptions[key]
      }
    },

    watch: {
      $route(to, from) {
        let fnProcess = async () => {
         this.currentPageLoading = true
         await this.loadThemes();
         this.currentPageLoading = false
        }

        fnProcess()
      },

      currentTheme: {
        handler: function(val, oldVal){

          this.currentPageLoading = true

          let option = val.additionalData.currentOption

          if(!option)
          {
            let helper = new WorkflowStoreHelper("paginaListaTemaDataTable")
            let dataTableData = helper.get()

            let theme = dataTableData.collection.find(theme => {
              return theme._id == val._id
            })

            if(theme)
            {
              theme = Object.assign(theme, val)
              helper.save(dataTableData)
            }
          }
            
          this.setDefaultDescription(option)
          this.currentPageLoading = false
        },
        deep: true
      }
    },

    created: function () {
      let fnProcess = async () => {
        this.currentPageLoading = true

        this.setDefaultDescription()
        await this.loadThemes();

        this.currentPageLoading = false
      }
      
      fnProcess()
    },

    data: () => {
      return {
        descriptions: {
          default: `Nesta tela é possível visualizar todos os temas de vitrines que você possui para a sessão atual, cada tema de vitrine possui uma ou mais vitrines, fique a vontade para alterá-las conforme o desejado. Dica: você pode criar um tema para uma data comemorativa por exemplo "Black friday" e ativá-la quando for conveniente.`,
          slide: `Exibe uma certa quantidade de items, por exemplo você definiu "5", isto significa que será buscado 5 itens.`,
          'max-itens': `Um exemplo: você escolheu 5 itens na opção "Quantidade de itens exibidos" e para esta opção 10 itens isto fará você ter 2 linhas com 5 itens cada uma, caso use o carrousel, terá 5 itens visiveis, e 5 itens após rolar o carrousel.`
        }
      };
    }
  };
</script>