<template>
    <GChart
    :settings="{ packages: ['geochart'] }"
    :data="dataSource"
    :options="chartOptions"
    :resizeDebounce="1000"
    :createChart="(el, google) => {
      return new google.visualization.GeoChart(el)
    }"
    @ready="onChartReady"
  />
</template>

<script>

import GeolocationMixin from "@/components/dashboard/geolocation/mixins/geolocationMixin.js";
import Api from "@/api/statistic/history/accessGeolocation.js";
import { GChart } from 'vue-google-charts'

export default {

  mixins: [GeolocationMixin],

  created: function(){
    this.updateDataSource()
  },

  components: {
    GChart
  },

  data(){
    return {
      api: new Api(),
      chartOptions: {
        height: 350,
        region: 'BR',
        resolution: 'provinces',
        displayMode: 'regions'
      },
    }
  },

  created: function(){
    this.updateDataSource()
  },

  computed: {
    source(){
      let dat = JSON.parse(JSON.stringify(this.dataSource))
      return dat
    }
  },

  methods: {
    onChartReady (chart, google) {
      google.visualization.events.addListener(chart, 'error', this.onError.bind(this, google, chart))
    },

    onError(google, chart, evt){

      let container = chart.container

      google.visualization.errors.removeError(evt.id)

      google.visualization.errors.addError(container, 'Sem informações no momento', '', {
        showInTooltip: false
      })

      container.style.height = this.chartOptions.height + 'px'
    },

    async updateDataSource() {
      let period = this.period
      let toDate = new Date().toISOString()
      
      let fromDate = new Date()

      let fromDays = period.fromDays
      let diffDays = fromDays * 24 //hours
      fromDate.setHours(diffDays)
      fromDate = fromDate.toISOString()
      
      let response = await this.api.get(fromDate, toDate)

      let sourceCollection = [['Região', 'Sessões']]

      let data = response.data.data

      let buffer = new Object

      data.map(item => {
        let identifier = `${item.geolocation.countryCode}-${item.geolocation.region}`

        if(buffer.hasOwnProperty(identifier) == false)
          buffer[identifier] = 0

        buffer[identifier] += item.total
      })

      for(let key of Object.keys(buffer))
        sourceCollection.push([key, buffer[key]])

      this.dataSource = sourceCollection
    }
  }
};
</script>