<template>
  <div>
     <simple-dialog :id="dialogID">
 <template v-slot:body style="padding: 0">
            <card color="transparent" title="Editor Avançado">
              <template v-slot:body>
                <v-card color="transparent" class="elevation-0">
                  <v-card-text>
                    <v-layout row wrap>
                      <v-flex sm12>
                          <codemirror v-model="html" :options="cmOptions"></codemirror>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </template>
            </card>
          </template>

          <template v-slot:header-before-title>
            <v-btn icon dark @click="fechar(false)">
              <v-icon>close</v-icon>
            </v-btn>
          </template>

          <template v-slot:header-after-title>
            <v-spacer></v-spacer>
            <v-btn icon dark @click="fechar()">
              <v-icon>check</v-icon>
            </v-btn>
          </template>

          <template v-slot:actions>
            <div></div>
          </template>
        </simple-dialog>
  </div>
</template>

<script>
  import {
    codemirror
  } from 'vue-codemirror'

  import 'codemirror/mode/xml/xml.js'
  import 'codemirror/addon/selection/active-line.js'
  import 'codemirror/addon/edit/closetag.js'
  import 'codemirror/lib/codemirror.css'
  import 'codemirror/theme/yonce.css'

  import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js"
  import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

  import {
    SimpleDialogHelper,
    SimpleDialog
  } from "@/helper/simpleDialogHelper.js";
  import Card from "@/components/Card.vue";

  export default {
    components: {
      codemirror,
      
      SimpleDialog,
      Card
    },

    mixins: [DefaultMixin],

    computed: {
    },

    created() {
      
      this.html = this.getInitialData()

      this.dialogHelper = new SimpleDialogHelper(this.dialogID);

      this.dialogHelper
        .setTitle("Editor de Layout")
        .loading(false)
        .open();
    },

    methods: {

      fechar(save = true){
        if(save)
          this.theme.html = this.encodeBase64(this.encodeHTML(this.html))

        this.dialogHelper.close()

        this._close()
      },

      created() {
      },

      getInitialData() {
        let html = this.theme.html
        
        return this.decodeHTML(this.decodeBase64(html))
      },

      decodeBase64(data)
      {
        return window.atob(data)
      },

      encodeBase64(data)
      {
        return window.btoa(data)
      },

      decodeHTML(html) {
        return decodeURIComponent(html)
      },

      encodeHTML(html) {
        return encodeURIComponent(html)
      }
    },

    data() {
      return {
        dialogHelper: null,
        dialogID: "currentPopupThemeAdvancedEdit",
        loading: false,
        html: null,
        cmOptions: {
          tabSize: 4,
          styleActiveLine: false,
          lineNumbers: true,
          autoCloseTags: true,
          line: true,
          mode: 'text/html',
          theme: 'yonce'
        }
      };
    }
  };
</script>

<style>
    .speed-save {
      top: 2px !important;
    }
  
    .CodeMirror {
      display: block;
      position: relative;
      height: 70vh;
      border: 1px solid #eee;
    }
  </style>