<template>
  <div>
    <card title="2º - Chegou a hora de configurar o seu Google Tag Manager.">
      <template v-slot:body>
        <v-card color="transparent" class="elevation-0">
          <v-card-text>
             <h5>O código abaixo deve ser inserido no Google Tag Manager.</h5>
             <br>
            <code class="code">{{rawCode}}</code>
          </v-card-text>
          <v-card-actions>
            <v-container>
              <v-layout>
                <v-flex text-xs-right xs12>
                  <v-btn @click="copiar()">Copiar</v-btn>
                  <v-btn @click="finalizar()" color="primary">Terminar</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-actions>
        </v-card>
      </template>
    </card>
  </div>
</template>

<style scoped>
  .code{
    word-break: break-word;
  }
</style>
   
<script>
import SnackHelper from "@/helper/snack.js";
import Card from "@/components/Card.vue";
import { constants } from 'fs';

export default {
  components: {
   Card
  },

  created() {
    let token = this.$store.getters['userProfile/store/token']
    this.rawCode = `<script src="https://cdn.nplay.com.br/vitrine/loader/js/bundle.js?token=${token}"><\/script>`
  },

  methods: {
    copiar()
    {
        new SnackHelper()
        .setSuccess('Copiado')
        .display()

        let range = new Range
        range.selectNode(document.querySelector('.code'))
        getSelection().empty()
        getSelection().addRange(range)
        document.execCommand("copy");
        getSelection().empty()
    },

     finalizar()
     {
        new SnackHelper()
        .setSuccess('Parabéns, você terminou o processo de instalação com sucesso!')
        .display()
        
        let store = this.$store.getters['userProfile/store/get']
        store.instalationStep = 0
        this.$store.commit('userProfile/store/set', store)
        this.$router.push({path: '/dashboard'})
     }
  },

  data() {
     return {
        loading: false
     }
  }
};
</script>
   