<template>
   <div>
      <v-data-table :headers="headers" :items="collection" class="elevation-1 text-xs-center">
         <template v-slot:items="props">
            <tr>
               <div style="display: none;">{{props.item.title}}</div>
               <td>
                  <v-tooltip top>
                     <template v-slot:activator="{ on }">
                        <label class="cursor-text" v-on="on" @click="setCurrentOption('title', props.item)"
                           v-show="!props.item.additionalData.currentOption">
                           {{ props.item.title }}
                        </label>
                     </template>
                     <span>Trocar titulo</span>
                  </v-tooltip>

                  <div name="title_edit" v-show="props.item.additionalData.currentOption == 'title'">
                     <line-title :workflowID="workflowID" :lineID="props.item._id"></line-title>
                  </div>
               </td>

               <td>
                  <div v-show="props.item.additionalData.currentOption == null">
                     {{getFilterName(props.item)}}
                  </div>
               </td>

               <td>
                  <div v-show="!props.item.additionalData.currentOption" name="container_options">
                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('enabled', props.item)"
                              v-bind:color="props.item.enabled ? 'primary' : 'gray'">visibility</v-icon>
                        </template>
                        <span>Desativar/Ativar</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('duplicate', props.item)">file_copy</v-icon>
                        </template>
                        <span>Duplicar</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('switch_visualization', props.item)">{{_useCarrousel(props.item) ? 'screen_rotation' : 'screen_lock_rotation'}}</v-icon>
                        </template>
                        <span>Trocar para {{_useCarrousel(props.item) ? 'Grid' : 'Carrousel'}}</span>
                     </v-tooltip>
                     
                     <!-- <v-tooltip top v-if="props.item.allowDrop == true"> -->
                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('delete', props.item)">delete</v-icon>
                        </template>
                        <span>Remover</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('filter', props.item)">category
                           </v-icon>
                        </template>
                        
                        <span>Mudar busca</span>
                     </v-tooltip>
                  </div>

                  <div name="container_edit" v-show="props.item.additionalData.currentOption">
                     <enabled v-if="props.item.additionalData.currentOption == 'enabled'" :lineID="props.item._id"
                        workflowID="currentTheme"></enabled>
                     <line-duplicate v-if="props.item.additionalData.currentOption == 'duplicate'"
                        :lineID="props.item._id" workflowID="currentTheme"></line-duplicate>
                     <delete v-if="props.item.additionalData.currentOption == 'delete'" :lineID="props.item._id"
                        workflowID="currentTheme"></delete>
                     <line-filter v-if="props.item.additionalData.currentOption == 'filter'"
                        :lineID="props.item._id" workflowID="currentTheme"></line-filter>
                     <visualization v-if="props.item.additionalData.currentOption == 'switch_visualization'"
                        :lineID="props.item._id" workflowID="currentTheme"></visualization>
                  </div>
               </td>
            </tr>
         </template>
      </v-data-table>
   </div>
</template>
<script>
   import Vue from "vue";
   import LineTitle from '@/components/tema/list/line/Title.vue';
   import LineDuplicate from '@/components/tema/list/line/Duplicate.vue';
   import Enabled from '@/components/tema/list/line/Enabled.vue';
   import Delete from "@/components/tema/list/line/Delete.vue";
   import LineFilter from "@/components/tema/list/line/Filter.vue";
   import Visualization from "@/components/tema/list/line/Visualization.vue";

   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      components: {
         LineTitle,
         Enabled,
         LineDuplicate,
         Delete,
         Visualization,
         LineFilter
      },

      computed: {
         collection(){
            let theme = this.theme
            var me = this
            
            return theme.themeLineCollection.map(line => {
               if(!line.additionalData.currentOption)
                  me.$set(line.additionalData, 'currentOption', null)

               return line
            })
         }
      },

      methods: {
         getFilterName(item) {
            return item.componentModel.searchTypeDescription
         },

         setCurrentOption(option, line) {
            line = this.$store.getters['theme/line/byID']({
               workflowID: this.workflowID,
               lineID: line._id
            })

            line.additionalData.currentOption = option
         },

         _setLineProperty(fn) {
            this.theme.themeLineCollection.map(line => {
               fn(line);
            })

            this.saveWorkflow(this.theme)
         },

         _useCarrousel(item){
            return item.swiper.simulateTouch
         }
      },

      created: function () {
         this._setLineProperty((line) => {
            Vue.set(line.additionalData, 'currentOption', null)
         })
      },

      data() {
         return {
            headers: [{
                  text: "Titulo da vitrine",
                  align: "center",
                  sortable: false,
                  value: "title"
               },
               {
                  text: "Busca",
                  align: "center",
                  sortable: false,
                  value: "componentModel.searchTypeDescription"
               },
               {
                  text: "Opções",
                  sortable: false,
                  align: "center"
               }
            ]
         }
      }
   };
</script>