<template>
      <div>
         Delete..
      </div>
   </template>
   <script>
      
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   import LineDefaultMixin from '@/components/tema/list/line/mixins/defaultMixin.js'
   
   export default {
      mixins: [DefaultMixin, LineDefaultMixin],
   
      methods: {
         async delete(){
            let id = this.line._id

            for(let idx in this.theme.themeLineCollection)
            {
               let line = this.theme.themeLineCollection[idx]

               if(line._id != id)
                  continue;

               this.theme.themeLineCollection.splice(idx, 1)
               return true;
            }
         },

         async _close()
         {
            //Rewrite no action (line is deleted)
         }
      },
   
      created: function (){
         this.delete()
         this._close();
      },
   
      data() {
         return {
         }
      }
   };
   </script>