<template>
  <div>Duplicate...</div>
</template>
   <script>
import DefaultMixin from "@/components/tema/list/mixins/defaultMixin.js";
import LineDefaultMixin from "@/components/tema/list/line/mixins/defaultMixin.js";

export default {
  mixins: [DefaultMixin, LineDefaultMixin],

  created: function() {
    this.entity = Object.assign({}, this.line);
    this.process();
  },

  methods: {
    /**
     * Overwrite close method
     */
    async _close() {
      this.entity.additionalData.currentOption = null;
    },

    async process() {
      await this._close();

      this.entity.additionalData.currentOption = null;

      let newLine = JSON.parse(JSON.stringify(this.entity));
      newLine.title += " - Copia";
      newLine.enabled = false;
      newLine.allowDrop = true;
      delete newLine._id;

      let sendTheme = JSON.parse(JSON.stringify(this.theme))
      sendTheme.themeLineCollection.push(newLine);

      let response = await this.update(sendTheme);

      let nTheme = Object.assign(this.theme, response.data.data)
      
      if (response.data.success) this.appendLine(nTheme);
    },

    appendLine(theme) {
      this.saveWorkflow(theme);
    }
  },

  data() {
    return {
      entity: new Object()
    };
  }
};
</script>