<template>
      <div>
      </div>
   </template>
   <script>
      
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   import LineDefaultMixin from '@/components/tema/list/line/mixins/defaultMixin.js'
   
   export default {
      mixins: [DefaultMixin, LineDefaultMixin],
   
      methods: {
      },
   
      created: function (){
         this.line.enabled = !this.line.enabled
         this._close();
      },
   
      data() {
         return {
         }
      }
   };
   </script>