<template>
    <simple-dialog :id="dialogID">
      <template v-slot:body>
         <v-container>
            <v-layout row wrap text-xs-center align-center justify-center>
               <v-flex xs12 text-xs-justify font-weight-regular>
                  Aqui você pode definir qual busca e quais filtros ela terá, por exemplo, buscar apenas produtos mais vendidos de uma determinada categoria,
                  ou buscar todos os produtos mais vendidos e até mesmo buscar produtos mais vendidos da categoria que o cliente se encontra no momento de sua navegação.
               </v-flex>

               <v-flex xs12 text-xs-justify body-2>
                  <v-container>
                     <v-layout row wrap text-xs-center align-center justify-center>
                        <v-flex xs4 text-xs-justify>
                           Utilizar busca:
                        </v-flex>
                        <v-flex xs8 text-xs-justify>
                           <v-select
                              label="Aplicar busca por"
                              v-model="currentFilter"
                              item-text="label"
                              item-value="id"
                              :items="filterCollection"
                           ></v-select>
                        </v-flex>

                        <v-flex xs12>
                           <best-seller
                              v-if="currentFilter == filterType.bestSeller.id && (themeType == 'home' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </best-seller>
                           <best-seller-page
                              v-if="currentFilter == filterType.bestSeller.id && themeType == 'category'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </best-seller-page>
                           <best-seller-product
                              v-if="currentFilter == filterType.bestSeller.id && themeType == 'product'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </best-seller-product>

                           <news
                              v-if="currentFilter == filterType.news.id && (themeType == 'home' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </news>
                           <news-page
                              v-if="currentFilter == filterType.news.id && themeType == 'category'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </news-page>
                           <news-product
                              v-if="currentFilter == filterType.news.id && themeType == 'product'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </news-product>

                           <viewed
                              v-if="currentFilter == filterType.bestViewed.id && (themeType == 'home' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </viewed>
                           <viewed-page
                              v-if="currentFilter == filterType.bestViewed.id && themeType == 'category'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </viewed-page>
                           <viewed-product
                              v-if="currentFilter == filterType.bestViewed.id && themeType == 'product'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </viewed-product>

                           <promotional
                              v-if="currentFilter == filterType.promotional.id && (themeType == 'home' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </promotional>
                           <promotional-page
                              v-if="currentFilter == filterType.promotional.id && themeType == 'category'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </promotional-page>
                           <promotional-product
                              v-if="currentFilter == filterType.promotional.id && themeType == 'product'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </promotional-product>

                           <history
                              v-if="currentFilter == filterType.history.id && (themeType == 'home' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </history>
                           <history-page
                              v-if="currentFilter == filterType.history.id && themeType == 'category'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </history-page>
                           <history-product
                              v-if="currentFilter == filterType.history.id && themeType == 'product'"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </history-product>

                           <view-to-view
                              v-if="currentFilter == filterType.viewToView.id && (themeType == 'product' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </view-to-view>

                           <similar
                              v-if="currentFilter == filterType.similar.id && (themeType == 'product' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </similar>

                           <buy-to-buy
                              v-if="currentFilter == filterType.buyToBuy.id && (themeType == 'product' || themeType == 'cart')"
                              :lineID="lineID"
                              :workflowID="workflowID">
                           </buy-to-buy>
                        </v-flex>
                     </v-layout>
                  </v-container>
               </v-flex>
            </v-layout>
         </v-container>
      </template>

      <template v-slot:actions>
         <div class="pa-3">
            <v-btn color="primary darken-1" class="pa-4" @click="finalizar()">Salvar</v-btn>
         </div>
      </template>

      <template v-slot:header>
         <v-container>
            <v-layout row wrap align-center>
               <v-flex xs10 body-1>
                  Editando vitrine <p class="title">{{line.title}}</p>
               </v-flex>

               <v-flex text-xs-right xs2>
                  <v-btn icon @click="finalizar(false)">
                     <v-icon>close</v-icon>
                  </v-btn>
               </v-flex>
            </v-layout>
         </v-container>
      </template>
      
    </simple-dialog>
</template>
<script>
   import {
      SimpleDialogHelper,
      SimpleDialog
   } from "@/helper/simpleDialogHelper.js";
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   import LineDefaultMixin from '@/components/tema/list/line/mixins/defaultMixin.js'
   import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js";

   import BestSeller from "@/components/tema/list/line/Search/bestSeller/index.vue";
   import BestSellerPage from "@/components/tema/list/line/Search/bestSeller/page.vue";
   import BestSellerProduct from "@/components/tema/list/line/Search/bestSeller/product.vue";
   
   import News from "@/components/tema/list/line/Search/news/index.vue";
   import NewsPage from "@/components/tema/list/line/Search/news/page.vue";
   import NewsProduct from "@/components/tema/list/line/Search/news/product.vue";

   import Viewed from "@/components/tema/list/line/Search/bestViewed/index.vue";
   import ViewedPage from "@/components/tema/list/line/Search/bestViewed/page.vue";
   import ViewedProduct from "@/components/tema/list/line/Search/bestViewed/product.vue";

   import Promotional from "@/components/tema/list/line/Search/promotional/index.vue";
   import PromotionalPage from "@/components/tema/list/line/Search/promotional/page.vue";
   import PromotionalProduct from "@/components/tema/list/line/Search/promotional/product.vue";

   import History from "@/components/tema/list/line/Search/history/index.vue";
   import HistoryPage from "@/components/tema/list/line/Search/history/page.vue";
   import HistoryProduct from "@/components/tema/list/line/Search/history/product.vue";

   import ViewToView from "@/components/tema/list/line/Search/viewToView/index.vue";
   import Similar from "@/components/tema/list/line/Search/similar/index.vue";
   import BuyToBuy from "@/components/tema/list/line/Search/buyToBuy/index.vue";

   export default {
      mixins: [DefaultMixin, LineDefaultMixin],

      components: {
         SimpleDialog,
         BestSeller,
         BestSellerPage,
         BestSellerProduct,

         News,
         NewsPage,
         NewsProduct,

         Viewed,
         ViewedPage,
         ViewedProduct,

         Promotional,
         PromotionalPage,
         PromotionalProduct,

         History,
         HistoryPage,
         HistoryProduct,

         ViewToView,
         Similar,
         BuyToBuy
      },

      computed: {
         themeType(){
            return (new WorkflowStoreHelper("paginaListaTemaDataTable").get()).type
         },

         currentFilter: {
            get: function(){
               let line = this.$store.getters['theme/line/byID']({
                  workflowID: this.workflowID,
                  lineID: this.lineID
               })

               return line.additionalData.currentFilter
            },

            set: function(val){
               let line = this.$store.getters['theme/line/byID']({
                  workflowID: this.workflowID,
                  lineID: this.lineID
               })

               line.additionalData.currentFilter = val
               this.line = line
            }
         },

         filters(){
            return {
               home: [
                  this.filterType.bestSeller,
                  this.filterType.news, 
                  this.filterType.promotional, 
                  this.filterType.history, 
                  this.filterType.bestViewed
               ],
               category: [
                  this.filterType.bestSeller,
                  this.filterType.news,
                  this.filterType.promotional,
                  this.filterType.history,
                  this.filterType.bestViewed
               ],
               product: [
                  this.filterType.bestSeller,
                  this.filterType.news,
                  this.filterType.promotional,
                  this.filterType.history,
                  this.filterType.similar,
                  this.filterType.viewToView,
                  this.filterType.bestViewed,
                  this.filterType.buyToBuy
               ],
               cart: [
                  this.filterType.bestSeller,
                  this.filterType.news,
                  this.filterType.promotional,
                  this.filterType.history,
                  this.filterType.similar,
                  this.filterType.viewToView,
                  this.filterType.bestViewed,
                  this.filterType.buyToBuy
               ]
            }
         },

         filterCollection(){
            return this.filters[this.themeType] || new Array
         }
      },

      methods: {
         async finalizar(save = true) {
            if(!save)
               await this._refresh()
            
            this._close(false)
         },
      },

      created: function () {
         this.dialogHelper = new SimpleDialogHelper(this.dialogID);
         this.dialogHelper
            .setTitle(`Alterando filtros do tema: ${this.line.title}`)
            .loading(false)
            .showToolbar(true)
            .width('35%')
            .right(true)
            .open();
      },

      data() {
         return {
            filterType: {
               bestSeller: {
                  label: 'Mais vendidos',
                  id: 'bestSeller'
               },
               news: {
                  label: 'Novidades',
                  id: 'news'
               },
               promotional: {
                  label: 'Promocional',
                  id: 'promotional'
               },
               history: {
                  label: 'History',
                  id: 'history'
               },
               bestViewed: {
                  label: 'Mais visualizados',
                  id: 'bestViewed'
               },
               viewToView: {
                  label: 'Quem viu também viu',
                  id: 'viewToView'
               },
               similar: {
                  label: 'Similar',
                  id: 'similar'
               },
               buyToBuy: {
                  label: 'Quem comprou também comprou',
                  id: 'buyToBuy'
               }
            },
            dialogID: this.workflowID + "_list_line_dialog_filter",
            typeFilter: null
         }
      }
   }
</script>