<template>
  <div>
    <simple-dialog :id="dialogID">
      <template v-slot:body>
        <line-data-table :workflowID="workflowID"></line-data-table>
      </template>

      <template v-slot:header-before-title>
        <v-btn icon dark @click="dialogClose.toggle()">
          <v-icon>close</v-icon>
        </v-btn>
      </template>
      <template v-slot:header-after-title>
        <v-spacer></v-spacer>
          <v-btn icon dark @click="fechar()">
            <v-icon>check</v-icon>
          </v-btn>
      </template>
      <template v-slot:actions>
        <div><!-- none --></div>
      </template>
    </simple-dialog>

    <simple-dialog id="close">
      <template v-slot:body>
        <div class="pa-4">
          <span class="title">Você está saindo sem salvar..</span>
          <p class="pt-4 subheading">
            O que você deseja fazer?
          </p>
        </div>
      </template>

      <template v-slot:actions>
        <v-btn color="green darken-1" flat @click="dialogClose.toggle() && fechar()">Salvar tudo</v-btn>
        <v-btn color="green darken-1" flat @click="dialogClose.toggle() && fechar(false)">Não salvar nada</v-btn>
      </template>
    </simple-dialog>
  </div>
</template>
   <script>
import LineDataTable from "@/components/tema/list/line/Datatable.vue";
import DefaultMixin from "@/components/tema/list/mixins/defaultMixin.js";
import {
  SimpleDialogHelper,
  SimpleDialog
} from "@/helper/simpleDialogHelper.js";

export default {
  mixins: [DefaultMixin],

  components: {
    SimpleDialog,
    LineDataTable
  },

  methods: {
    async fechar(save = true) {
        this.dialogHelper.close();
        
        if(!save)
        {
          await this.toggleLoading()
          let updTheme = await this.get()
          this.theme = Object.assign({}, this.theme, updTheme)
          await this.toggleLoading()
        }
        else
          await this._close()
    },
  },

  watch: {
    theme: {
      deep: true,
      handler: function(val){
        if(val.additionalData.currentOption == 'line_list')
          this.dialogHelper.open()
      }
    }
  },

  created: function() {
    this.dialogHelper = new SimpleDialogHelper(this.dialogID);
    this.dialogHelper
      .fullscreen(false)
      .width('50%')
      .setTitle("Vitrines do meu tema")
      .loading(false)

    this.dialogClose = new SimpleDialogHelper('close');
    this.dialogClose.width('30%').loading(false).showToolbar(false);
  },

  data() {
    return {
      dialogClose: null,
      dialogHelper: null,
      dialogID: this.workflowID + "_list_line_dialog"
    };
  }
};
</script>