<template>
   <div>
      <v-container>
         <v-layout>
            <v-flex md-6>
               <v-text-field v-model="line.title" required></v-text-field>
            </v-flex>
            <v-flex md-6>
               <v-btn color="primary" v-bind:disabled="!line.title" @click="_close()">OK</v-btn>
            </v-flex>
         </v-layout>
      </v-container>
   </div>
</template>
<script>

import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
import LineDefaultMixin from '@/components/tema/list/line/mixins/defaultMixin.js'

export default {
   mixins: [DefaultMixin, LineDefaultMixin],

   methods: {
   },

   created: function (){
      this.title = this.line.title
   },

   data() {
      return {
         title: null
      }
   }
};
</script>