<template>
      <div>
      </div>
   </template>
   <script>
      
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   import LineDefaultMixin from '@/components/tema/list/line/mixins/defaultMixin.js'
   
   export default {
      mixins: [DefaultMixin, LineDefaultMixin],
   
      methods: {

         switch(){

            let parametersDat = {
               carrousel: {
                  simulateTouch: true,
                  slidesPerColumnFill: 'column',
                  slidesPerColumn: 1,
                  slidesPerGroup: null
               },
               grid: {
                  simulateTouch: false,
                  slidesPerColumn: 2,
                  slidesPerColumnFill: 'row',
                  slidesPerGroup: 1
               }
            }

            let usingCarrousel = this.line.swiper.simulateTouch
            let propertyKey = usingCarrousel ? 'grid' : 'carrousel'

            let parameters = parametersDat[propertyKey]

            for(let paramKey of Object.keys(parameters))
               this.line.swiper[paramKey] = parameters[paramKey]
         }
      },
   
      created: function (){
         this.switch()
         this._close()
      },
   
      data() {
         return {
         }
      }
   };
   </script>