<template>
  <div>
    <transition>
      <router-view></router-view>
    </transition>
  </div>   
</template>
<script>

import List from '@/components/menu/organizar/List.vue';

export default {
  components: {
    List
  },

  filters: {
  },

  methods: {
  },

  created: function(){
  },

};
</script>