<template>
   <div>
      <v-data-table v-if="collection.length > 0" :headers="data.headers" :items="collection" class="elevation-1">
         <template v-slot:items="props">
            <tr>
               <td>
                  <div name="title_edit" v-show="props.item.additionalData.currentOption == 'title'">
                     <line-title workflowID="currentTheme"></line-title>
                  </div>

                  <v-tooltip top>
                     <template v-slot:activator="{ on }">
                        <label v-on="on" @click="setCurrentOption('title', props.item)"
                           v-show="!props.item.additionalData.currentOption">
                           <label class="cursor-text">
                              {{ props.item.name }}
                           </label>
                        </label>
                     </template>
                     <span>Trocar titulo</span>
                  </v-tooltip>
               </td>
               <td class="text-xs-center">
                  <div v-show="!props.item.additionalData.currentOption" name="container_options">
                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('enabled', props.item)"
                              v-bind:color="props.item.enabled ? 'primary' : 'gray'">visibility</v-icon>
                        </template>
                        <span>Desativar/Ativar</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('duplicate', props.item)">file_copy</v-icon>
                        </template>
                        <span>Duplicar</span>
                     </v-tooltip>

                     <v-tooltip top v-if="props.item.allowDrop">
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('delete', props.item)">delete</v-icon>
                        </template>
                        <span>Remover</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('line_list', props.item)">edit</v-icon>
                        </template>
                        <span>Editar linhas</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('slide', props.item)">filter</v-icon>
                        </template>
                        <span>Quantidade de itens exibidos</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('max-itens', props.item)">filter_9_plus</v-icon>
                        </template>
                        <span>Quantidade máxima de itens</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('layout_code', props.item)">code</v-icon>
                        </template>
                        <span>Editor HTML avançado</span>
                     </v-tooltip>

                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                           <v-icon v-on="on" small @click="setCurrentOption('layout', props.item)">color_lens</v-icon>
                        </template>
                        <span>Trocar tema</span>
                     </v-tooltip>
                  </div>

                  <div name="container_edit" v-show="props.item.additionalData.currentOption">
                     <slides v-if="props.item.additionalData.currentOption == 'slide'" workflowID="currentTheme">
                     </slides>
                     <max-itens v-if="props.item.additionalData.currentOption == 'max-itens'" workflowID="currentTheme">
                     </max-itens>
                     <enabled v-if="props.item.additionalData.currentOption == 'enabled'" workflowID="currentTheme">
                     </enabled>
                     <duplicate v-if="props.item.additionalData.currentOption == 'duplicate'" workflowID="currentTheme">
                     </duplicate>
                     <delete v-if="props.item.additionalData.currentOption == 'delete'" workflowID="currentTheme">
                     </delete>
                     <default-themes v-if="props.item.additionalData.currentOption == 'layout'"
                        workflowID="currentTheme" :typeTheme="data.type"></default-themes>
                     <advanced-edit v-if="props.item.additionalData.currentOption == 'layout_code'" workflowID="currentTheme"></advanced-edit>
                     <list-line-modal v-show="props.item.additionalData.currentOption == 'line_list'" workflowID="currentTheme"></list-line-modal>
                  </div>
               </td>
            </tr>
         </template>
      </v-data-table>

      <!-- <v-layout fill-height xs12 text-xs-center align-center justify-center row wrap
      v-if="themesCollection.length == 0">Não temos nenhum tema registrado no momento...</v-layout> -->
   </div>
</template>
<script>
   import LineTitle from "@/components/tema/list/Title.vue";
   import Slides from "@/components/tema/list/Slides.vue";
   import MaxItens from "@/components/tema/list/MaxItens.vue";
   import Enabled from "@/components/tema/list/Enabled.vue";
   import Duplicate from "@/components/tema/list/Duplicate.vue";
   import Delete from "@/components/tema/list/Delete.vue";
   import DefaultThemes from "@/components/tema/list/DefaultThemes.vue";
   import AdvancedEdit from "@/components/tema/list/layout/AdvancedEdit.vue";
   import ListLineModal from "@/components/tema/list/line/Modal.vue";
   import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js";
   import CurrentThemeStoreMixin from "@/mixin/store/currentThemeMixin.js";

   export default {
      
      mixins: [CurrentThemeStoreMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      components: {
         LineTitle,
         Slides,
         MaxItens,
         Enabled,
         Duplicate,
         Delete,
         DefaultThemes,
         AdvancedEdit,
         ListLineModal
      },

      methods: {
         async setCurrentOption(option, theme) {
            theme.additionalData.currentOption = option

            await this.setCurrentTheme(theme)
         },

         async setCurrentTheme(theme) {

            if (theme._id != this.currentTheme._id)
               this.currentTheme.additionalData.currentOption = null

            this.currentTheme = theme
         }
      },

      computed: {
         data() {
            return new WorkflowStoreHelper(this.workflowID, {
               collection: new Array,
               headers: new Object,
               type: null
            }).get()
         },

         collection() {
            return this.data.collection
         }
      },

      data() {
         return {
         }
      }
   };
</script>

<style scoped>
      .pointer {
        cursor: pointer;
      }

      .cursor-text{
         cursor: text;
      }
    
      .disabled {
        color: gray;
      }
    </style>