<template>
      <div>
         <v-container>
            <v-layout>
               <v-flex md-6>
                  <v-select
                  v-model="selected"
                  :items="themeCollection"
                  ></v-select>
               </v-flex>
               <v-flex md-6>
                  <v-btn color="primary" @click="finalizar()">OK</v-btn>
               </v-flex>
            </v-layout>
         </v-container>
      </div>
   </template>
   <script>
   
   import DefaultAPI from "@/api/themes/site/defaultApi.js";
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   
   export default {
      mixins: [DefaultMixin],
   
      computed:{
      },

      props: {
         typeTheme: {
            type: String,
            required: true
         }
      },

      methods: {
         async _getDefaultThemes()
         {
            this.toggleLoading()

            try {
               let api = new DefaultAPI()
               let response = await api.byType(this.typeTheme)
               return response.data.data

            } catch (error) {
               this.errorMessage()
               return new Array()
            }
            finally
            {
               this.toggleLoading()
            }
         },

         finalizar()
         {
            this.theme.designModel.html = this.selected.value
            this._close()
         }
      },
   
      created: function (){
         let fnProcess = async () => {
            this.themeCollection = (await this._getDefaultThemes()).map(theme => {

               return {
                  text: theme.name,
                  value: theme.designModel.html
               }
            })

            this.selected = this.themeCollection.length > 0 ? this.themeCollection[0] : null
         }

         fnProcess()
      },
   
      data() {
         return {
            selected: null,
            themeCollection: new Array()

            /*
             {
            text: 'Mais visualizadas',
            value: 'sortBestViewed'
          }*/
         }
      }
   };
   </script>