<template>
      <div>
        ...
      </div>
   </template>
   <script>
   
   import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js";
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   
   export default {
      mixins: [DefaultMixin],
   
      created: function (){
        this.process()
      },

      methods: {
         /**
          * Overwrite close method
         */
         async _close()
         {
            this.theme.additionalData.currentOption = null;
         },

         async process()
         {
            await this.delete(this.theme)

            let workflowThemes = new WorkflowStoreHelper("paginaListaTemaDataTable")
            let data = workflowThemes.get()

            let idx = data.collection.findIndex(theme => {
                return theme._id == this.theme._id
            })

            data.collection.splice(idx, 1)
            workflowThemes.save(data)
            await this._close()
         },

         removeTheme(theme)
         {
            let workflowThemes = new WorkflowStoreHelper("paginaListaTemaDataTable")
            let data = workflowThemes.get()

            data.collection.push(theme)
            workflowThemes.save(data)
         }
      },
   
      data() {
         return {
         }
      }
   };
   </script>