<template>
  <div>Duplicate...</div>
</template>
   <script>
import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js";
import DefaultMixin from "@/components/tema/list/mixins/defaultMixin.js";

export default {
  mixins: [DefaultMixin],

  created: function() {
    this.newTheme = Object.assign({}, this.theme);

    this.process();
  },

  methods: {
    /**
     * Overwrite close method
     */
    async _close() {
      this.theme.additionalData.currentOption = null;
    },

    async process() {
      await this._close();

      delete this.newTheme._id;
      this.newTheme.additionalData.currentOption = null;
      this.newTheme.name += " - Copia";
      this.newTheme.enabled = false;
      this.newTheme.allowDrop = true;

      let response = await this.insert(this.newTheme);

      if (response.data.data) this.appendTheme(response.data.data);
    },

    appendTheme(theme) {
      let workflowThemes = new WorkflowStoreHelper("paginaListaTemaDataTable");
      let data = workflowThemes.get();

      data.collection.push(theme);
      workflowThemes.save(data);
    }
  },

  data() {
    return {
      newTheme: new Object()
    };
  }
};
</script>