<template>
      <div>
      </div>
   </template>
   <script>
   
   import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js';
   
   export default {
      mixins: [DefaultMixin],
   
      methods: {
      },
   
      created: function (){
         this.theme.enabled = !this.theme.enabled
         this._close();
      },
   
      data() {
         return {
         }
      }
   };
   </script>