<template>
  <div>
    <v-container>
      <v-layout>
        <v-flex md-6>
          <span>Exibir {{theme.swiper.slidesPerView == 0 ? 'de forma automatica' : theme.swiper.slidesPerView + ' iten(s)' }}</span>

          <v-slider v-model="theme.swiper.slidesPerView" min="0" max="15" thumb-label ticks></v-slider>
        </v-flex>
        <v-flex md-6>
          <v-btn color="primary" @click="fechar()">OK</v-btn>
          <v-btn color="primary" @click="fechar(false)">Cancelar</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
   <script>
import DefaultMixin from "@/components/tema/list/mixins/defaultMixin.js";

export default {
  mixins: [DefaultMixin],

  methods: {
    async fechar(save = true){
      if(!save)
        await this._refresh()

      await this._close()
    }
  },

  created: function() {},

  data() {
    return {};
  }
};
</script>