<template>
    <GChart
    type="BubbleChart"
    :data="source"
    :options="chartOptions"
    :resizeDebounce="1000"
    @ready="onChartReady"
  />
</template>

<script>

import Mixin from "@/components/dashboard/bubble/mixins/bubbleMixin.js";

import Api from "@/api/statistic/history/item/accessHour.js";
import { GChart } from 'vue-google-charts'

export default {

  mixins: [Mixin],

  created: function(){
    this.updateDataSource()
  },

  components: {
    GChart
  },

  data(){
    return {
      api: new Api(),
      chartOptions: {
        height: 350,
        title: 'Para dar zoom em uma região selecione a área com o ponteiro do mouse, ' +
               'para zerar o zoom clique com o botão direito do mouse',
				sizeAxis: {
        	minValue: 0,  maxSize: 20
        },
        hAxis: {title: 'Periodo'},
        vAxis: {title: 'Acessos'},
        explorer: { actions: ['dragToZoom', 'rightClickToReset'] },
        bubble: {textStyle: {fontSize: 8}}
      }
    }
  },

  created: function(){
    this.updateDataSource()
  },

  computed: {
    source(){
      let data = this.dataSource
      return data
    }
  },

  methods: {
    onChartReady (chart, google) {
      google.visualization.events.addListener(chart, 'error', this.onError.bind(this, google, chart))
    },

    onError(google, chart, evt){

      let container = chart.container

      google.visualization.errors.removeError(evt.id)

      google.visualization.errors.addError(container, 'Sem informações no momento', '', {
        showInTooltip: false
      })

      container.style.height = this.chartOptions.height + 'px'
    },

    async updateDataSource() {
      let period = this.period
      let toDate = new Date().toISOString()
      
      let fromDate = new Date()

      let fromDays = period.fromDays
      let diffDays = fromDays * 24 //hours
      fromDate.setHours(diffDays)
      fromDate = fromDate.toISOString()
      
      let response = await this.api.get(fromDate, toDate)
      let data = response.data.data

      let totals = 0
      data.map(item => {
        totals += item.total
      })

      let collection = [
        ['ID', 'Periodo', 'Acessos', 'Nome', 'Acessos (%)']
      ]

      data.map(item => {

        let date = `${item.accessDate}:00`
        let porcent = (item.total *100) / totals
        porcent = parseInt(porcent.toFixed(3))
        let title = item.title.substr(0, 13)
        title += title.length >= 13 ? '...' : ''

        let row = [item.entityId+'', new Date(date), parseInt(item.total), title, porcent]
        collection.push(row)
      })

      this.dataSource = collection
    }
  }
};
</script>