<template>
	<div>
		<mini-statistic icon="shopping_cart" :title="graphMetric | toString" sub-title="Pedidos" color="indigo"> </mini-statistic>
	</div>
</template>

<script>
	import GraphMixin from '@/components/menu/organizar/list/graph/mixin/graphMixin.js';
	import MiniStatistic from "@/components/widgets/statistic/MiniStatistic.vue"

	export default {
		mixins: [GraphMixin],

		data(){
			return {
				summaryType: 'sell'
			}
		},

		components: {
			MiniStatistic
		},

		methods: {
		},

		created: function (){
			
		}
	};
</script>