<template>
   <div>
    <simple-dialog :id="dialogID">
      <template v-slot:body>
         <v-container>
            <v-layout row wrap>
                  <label>
                     Itens da vitrine aleatórios?
                  </label>
               <v-flex xs12>
                  <v-switch v-model="theme.additionalData.randomItens"  v-bind:label="theme.additionalData.randomItens ? 'Sim' : 'Nao'"></v-switch>
               </v-flex>

               <v-flex xs12>
                  <label>
                     Quais as condições necessárias para este clima?
                  </label>

                  <operator :workflowID="workflowID"></operator>
               </v-flex>
            </v-layout>
         </v-container>
      </template>

      <template v-slot:header-before-title>
         <v-btn icon dark @click="fechar()">
            <v-icon>close</v-icon>
         </v-btn>
      </template>

      <template v-slot:header-after-title>
      <v-spacer></v-spacer>
      <v-btn icon dark v-bind:disabled="!canSave" @click="salvar()">
         <v-icon>check</v-icon>
      </v-btn>
      </template>

      <template v-slot:actions>
        <div></div>
      </template>
    </simple-dialog>
   </div>
</template>

<script>
	import {
		SimpleDialogHelper,
		SimpleDialog
   } from "@/helper/simpleDialogHelper.js";
   
   import Operator from "@/components/tema/popup/list/options/customoptions/Operator.vue"
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      computed: {
         operator()
         {
            return this.$store.getters['operator/get']({workflowID: this.workflowID})
         },

         canSave()
         {
            let operator = this.operator
            for(let rule of operator.rules)
            {
               if(!rule.condition || !rule.operator || !rule.value || !rule.variable)
                  return false
            }

            return true
         }
      },

      created: function()
      {
         if(!this.theme.additionalData.hasOwnProperty('climate'))
         {
            this.$set(this.theme.additionalData, 'climate', {
               rules: [],
            })
         }

         if(!this.theme.additionalData.hasOwnProperty('randomItens'))
         {
            this.$set(this.theme.additionalData, 'randomItens', true);
         }

         this.loadOperator()
         
         this.dialogHelper = new SimpleDialogHelper(this.dialogID);
         this.dialogHelper
            .setTitle(`Definindo condições para o clima`)
            .width('90%')
            .loading(false)
            .open();
      },

      data: function(){
         return {
            dialogHelper: null,
            dialogID: this.workflowID + "_climate"
         }
      },

      components: {
         SimpleDialog,
         Operator
      },

      methods: {
         salvar(){
            this.theme.additionalData.climate.rules = this.operator.rules
            this.dialogHelper.close();
            this._close();
         },

         async fechar(){
            await this._clearCurrentOption()
            this.dialogHelper.close();
            await this._refresh()
         },

         loadOperator()
         {
            let operatorsCollection = [
               {
                  label: "Se",
                  value: "if"
               }
            ]

            let operatorsAttributes = {
               if: [
                  {
                     label: "Temperatura",
                     value: "temperature",
                  }
               ]
            }

            let attributesConditions = {
               temperature: {
                     if: [
                     {
                        label: 'Maior que',
                        value: '>'
                     },
                     {
                        label: 'Menor que',
                        value: '<'
                     }
                  ]
               }
            }

            let rules = this.theme.additionalData.climate.rules
            if(rules.length == 0)
               rules.push({ operator: {}, variable: {}, condition: {}, value: null })

            this.$store.dispatch('operator/set', {
               workflowID: this.workflowID,
               payload: {
                  rules: rules,
                  operatorsCollection: operatorsCollection,
                  operatorsAttributes: operatorsAttributes,
                  attributesConditions: attributesConditions
               }
            })
         }
      }
   };
</script>