<template>
      <v-container grid-list-md text-xs-center>
         <v-layout row wrap v-for="(rule, i) in rules" :key="i">
            <v-flex xs3>
               <v-select
                  label="Operador"
                  v-model="rules[i].operator"
                  :items="operatorsCollection"
                  item-text="label"
                  item-value="value"
                  @change="change(rule, ['variable', 'condition', 'value'])"
                  ></v-select>
            </v-flex>

            <v-flex xs3>
               <v-select
                  label="Atributo"
                  v-model="rules[i].variable"
                  :items="operatorsAttributes[rules[i].operator]"
                  item-text="label"
                  item-value="value"
                  @change="change(rule, ['condition', 'value'])"
                  ></v-select>
            </v-flex>

            <v-flex xs3>
               <v-select
                  v-if="attributesConditions[rules[i].variable]"
                  label="Condição"
                  v-model="rules[i].condition"
                  :items="attributesConditions[rules[i].variable][rules[i].operator]"
                  item-text="label"
                  item-value="value"
                  @change="change(rule, ['value'])"
                  ></v-select>
            </v-flex>

            <v-flex xs3>
               <v-text-field
               v-if="attributesConditions[rules[i].variable]"
               v-model="rules[i].value"
               label="Valor"
               @change="change(rule)"
               required></v-text-field>
            </v-flex>
         </v-layout>
      </v-container>
</template>

<script>

   export default {
      computed: {
         operatorData()
         {
            return this.$store.getters['operator/get']({workflowID: this.workflowID})
         },

         rules()
         {
            let operatorData = this.operatorData
            return !operatorData ? [] : operatorData.rules
         },

         operatorsCollection()
         {
            let operatorData = this.operatorData
            return !operatorData ? [] : operatorData.operatorsCollection
         },

         operatorsAttributes()
         {
            let operatorData = this.operatorData
            return !operatorData ? [] : operatorData.operatorsAttributes
         },

         attributesConditions()
         {
            let operatorData = this.operatorData
            return !operatorData ? [] : operatorData.attributesConditions
         }
      },

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      data: function(){
         return {
         }
      },

      methods: {
         change(rule, clearParams = [])
         {
            let checkParams = ['condition', 'operator', 'value', 'variable']
            let paramsOK = 0

            for(let param of checkParams)
            {
               if(clearParams.indexOf(param) > -1)
                  rule[param] = null
               
               paramsOK += !rule[param] ? 0 : 1
            }
            
            if(paramsOK < checkParams.length)
               return false;

            let rawData = JSON.parse(JSON.stringify(this.operatorData))
            
            this.$store.dispatch('operator/set', {
               workflowID: this.workflowID,
               payload: rawData
            })
         }
      }
   };
</script>