<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="/static/m.png" alt="Vue Material Admin" width="320" height="auto">
                  <h1 class="flex my-4 primary--text">Contato</h1>
                </div>
                <v-form v-model="form.valid">
                  <v-text-field xs6 sm6 append-icon="person" required name="Nome completo" label="Nome Completo" type="text"
                      v-model="model.fullName" :rules="form.rules.required"></v-text-field>
                  <v-text-field xs6 sm6 required name="phone" label="Telefone ex: (47) 1234-56789" type="text"
                      v-model="model.phone" :rules="form.rules.required"></v-text-field>
                  <v-text-field xs6 sm6 append-icon="mail" required name="login" label="E-mail" type="text"
                      v-model="model.email" :rules="form.rules.required"></v-text-field>
                  <v-text-field xs6 sm6 append-icon="person" required name="Link da loja" label="Link da loja" type="text"
                      v-model="model.url" :rules="form.rules.required"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn block v-bind:disabled="!form.valid" color="primary" @click="complete" :loading="loading">Finalizar</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>

    <simple-dialog id="loadingRegister"></simple-dialog>
  </v-app>
</template>

<script>
  import UserServiceApi from "@/api/service/api/user/contact.js"
  import {SimpleDialogHelper, SimpleDialog} from "@/helper/simpleDialogHelper.js"

  export default {
    components: {
      SimpleDialog
    },

    data: () => ({
      loading: false,
      form: {
        valid: false,
        rules: {
          required: [v => !!v || "Requerido"]
        }
      },
      model: {
        "fullName": null,
        "phone": null,
        "email": null,
        "password": null,
        "url": null
      }
    }),

    methods: {

      async complete()
      {        
        this.loading = true;

        let api = new UserServiceApi()
        let response = null

        try {
          let newUser = Object.assign({}, this.model)

          response = await api.get(newUser)
        } catch (error) {
          this.loading = false
        }
        
        var snackCfg = {
          show: true,
          y: 'top',
          x: null,
          color: response.status != 200 ? 'red' : 'green',
          text: response.status != 200 ? response.data.data : 'Formulário enviado com sucesso',
          timeout: 3000
        };

        this.loading = false
        
        window.getApp.snackbar = snackCfg

        if(response.status != 200)
          return

        let data = response.data.data

        //this.$store.dispatch('userProfile/set', data.profile)
        //this.$store.dispatch('userProfile/stores/set', data.profile.stores)
        //this.$store.dispatch('userProfile/store/set', data.store)
      }
    }
  };
</script>
<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
</style>