<template>
  <card icon="analytics" :sub-title="subTitle" color="transparent">
    <template v-slot:body>
      <v-card color="transparent" class="elevation-0">
        <v-card-text>
          <v-layout row wrap>
            <v-container grid-list-xl fluid>
              <v-layout row wrap>

                <v-flex d-flex xs12 md9>
                  <v-layout row wrap>
                    <v-flex d-flex>
                      <vitrine-total workflowID='dashboard' ></vitrine-total>
                    </v-flex>
                    <v-flex d-flex>
                      <store-total workflowID='dashboard' ></store-total>
                    </v-flex>
                    <v-flex d-flex>
                      <store-average workflowID='dashboard' ></store-average>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex text-xs-right xs3>
                  <periods workflowID="dashboard"></periods>
                  De {{dateFrom}} até {{dateTo}}
                  <v-btn icon>
                    <v-icon class="text--secondary" @click="toggle">date_range</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-container>

            <!-- <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex d-flex xs12 sm5 md5>
                  <v-card color="purple" dark>
                    <v-card-title primary class="title">Lorem</v-card-title>
                    <v-card-text>{{ lorem }}</v-card-text>
                  </v-card>
                </v-flex>

                <v-flex d-flex xs12 sm3>
                  <v-layout row wrap>
                    <v-flex d-flex>
                      <v-card color="indigo" dark>
                        <v-card-text>{{ lorem.slice(0, 70) }}</v-card-text>
                      </v-card>
                    </v-flex>
                    <v-flex d-flex>
                      <v-card color="indigo" dark>
                        <v-card-text>{{ lorem.slice(0, 70) }}</v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex d-flex xs12 sm4>
                  <v-layout row wrap>
                    <v-flex d-flex>
                      <v-card color="indigo" dark>
                        <v-card-text>{{ lorem.slice(0, 70) }}</v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-flex>
                
              </v-layout>
            </v-container> -->

            <v-container fluid grid-list-md>
              <v-layout row wrap>

                <v-flex d-flex xs12 sm12 md6>
                  <v-layout row wrap>
                    <v-flex d-flex>
                      <v-widget title="Itens mais acessados">
                          <div slot="widget-content">
                            <standard-bubble v-if="show" workflowID='dashboard'></standard-bubble>
                          </div>
                        </v-widget>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex d-flex xs12 sm12 md6>
                  <v-layout row wrap>
                    <v-flex d-flex>
                      <v-widget title="Sessões por região">
                          <div slot="widget-content">
                            <standard-geolocation v-if="show" workflowID='dashboard'></standard-geolocation>
                          </div>
                        </v-widget>
                    </v-flex>
                  </v-layout>
                </v-flex>

                <v-flex d-flex xs12 md12>
                  <v-widget title="Sessões x Vendas">
                      <div slot="widget-content">
                        <conversion-column v-if="show" workflowID='dashboard'></conversion-column>
                      </div>
                    </v-widget>
                </v-flex>

                <v-flex d-flex xs12 sm12 md6 v-if="show">
                  <v-widget title="Sessões únicas por dispositivo">
                    <div slot="widget-content">
                      <history-access-device-pie workflowID='dashboard'></history-access-device-pie>
                    </div>
                    </v-widget>
                </v-flex>

                <v-flex d-flex xs12 sm12 md6 v-if="show">
                  <v-widget title="Vitrines engajamento">
                    <div slot="widget-content">
                      <theme-conversion-pie workflowID='dashboard'></theme-conversion-pie>
                    </div>
                  </v-widget>
                </v-flex>

                <v-flex d-flex xs12 sm12 md6>
                  <v-widget title="Pop'ups engajamento">
                    <div slot="widget-content">
                      <popup-engagement-pie workflowID='dashboard'></popup-engagement-pie>
                    </div>
                  </v-widget>
                </v-flex>
                
              </v-layout>
            </v-container>

            <v-navigation-drawer
              class="setting-drawer"
              temporary
              right
              v-model="rightDrawer"
              hide-overlay
              fixed
            >
              <v-toolbar color="blue" dark>
                <v-toolbar-title>Opções de filtro</v-toolbar-title>
              </v-toolbar>

              <v-widget title="Filtrar por periodos:">
                <div slot="widget-content">
                  <v-container>
                    <v-layout row wrap>
                      <v-flex xs12>
                        <v-dialog
                          ref="dialog"
                          persistent
                          v-model="modal"
                          lazy
                          full-width
                          width="290px"
                          :return-value.sync="dateFrom"
                        >
                          <v-text-field
                            slot="activator"
                            label="De"
                            v-model="dateFrom"
                            prepend-icon="event"
                            readonly
                          ></v-text-field>
                          <v-date-picker v-model="dateFrom" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialog.save(dateFrom)">OK</v-btn>
                          </v-date-picker>
                        </v-dialog>

                        <v-dialog
                          ref="dialogTo"
                          persistent
                          v-model="modalTo"
                          lazy
                          full-width
                          width="290px"
                          :return-value.sync="dateTo"
                        >
                          <v-text-field
                            slot="activator"
                            label="Até"
                            v-model="dateTo"
                            prepend-icon="event"
                            readonly
                          ></v-text-field>
                          <v-date-picker v-model="dateTo" :value="dateTo" scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="modalTo = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.dialogTo.save(dateTo)">OK</v-btn>
                          </v-date-picker>
                        </v-dialog>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </div>
              </v-widget>
            </v-navigation-drawer>
          </v-layout>
        </v-card-text>
      </v-card>
    </template>
  </card>
</template>

<script>
import Material from "vuetify/es5/util/colors";

import Card from "@/components/Card.vue";

import ThemeConversionPie from "@/components/dashboard/pie/themeConversionPie.vue";
import HistoryAccessDevicePie from "@/components/dashboard/pie/historyAccessDevicePie.vue";
import PopupEngagementPie from "@/components/dashboard/pie/PopupEngagementPie.vue";
import ConversionColumn from "@/components/dashboard/column/conversionColumn.vue";

import StandardGeolocation from "@/components/dashboard/geolocation/standardGeolocation.vue";

import StandardBubble from "@/components/dashboard/bubble/standardBubble.vue";

import VitrineTotal from "@/components/dashboard/statistic/VitrineTotal.vue";
import StoreTotal from "@/components/dashboard/statistic/StoreTotal.vue";
import StoreAverage from "@/components/dashboard/statistic/StoreAverage.vue";

import VWidget from "@/components/VWidget";

import Periods from "@/components/dashboard/periods.vue";
import {
  SimpleDialogHelper
} from "@/helper/simpleDialogHelper.js";

export default {
  components: {
    VWidget,
    ThemeConversionPie,
    HistoryAccessDevicePie,
    PopupEngagementPie,
    VitrineTotal,
    StoreTotal,
    StoreAverage,
    ConversionColumn,
    StandardGeolocation,
    StandardBubble,

    Card,
    Periods
  },
  data: () => {
    return {
      show: false,
      periodDialog: new SimpleDialogHelper('dashboard'),
      rightDrawer: false,
      modal: false,
      modalTo: false,
    };
  },
  created() {
    setTimeout(() => {this.show = true}, 1000)
  },
  methods: {
    toggle(){
      this.periodDialog
        .setTitle('Periodo')
        .width("25vw")
        .loading(false)
        .toggle()
    },
    _dateFormat(additDays = 0, date = new Date) {
      if (additDays) date.setHours(additDays * 24);

      let day = date.getDate();
      let month = date.getMonth() + 1;
      month = month < 10 ? `0${month}` : month;
      let year = date.getFullYear();

      return `${year}-${month}-${day}`;
    }
  },
  computed: {

    subTitle(){
      return `Olá <strong>${this.fullName}</strong> aqui você poderá ver as principais métricas`
    },
    currentPage() {
      return this.$store.getters['currentPage/get']({workflowID: 'default'})
    },

    fullName() {
      return this.$store.getters['userProfile/get'].fullName
    },

    period(){
      return this.$store.getters['period/get']({workflowID: 'dashboard'})
    },

    dateFrom(){
      let period = this.period
      let days = period.fromDays

      return this._dateFormat(days)
    },

    dateTo(){
      return this._dateFormat()
    }
  }
};
</script>

<style scoped>
.setting-fab {
  top: 50% !important;
  right: 0;
  border-radius: 0;
}
</style>