<template>
  <v-app id="login">
    <v-container fluid ma-0 pa-0 fill-height>
      <v-layout>
        <v-flex>
          <v-container ma-0 fill-height pa-0 fluid v-on:keyup.enter="keypress">
            <v-layout>
              <v-flex id="esquerda" xs12 md6 lg4 white>
                <v-container fill-height>
                  <v-layout justify-center align-center>
                    <v-flex xs12 sm8>
                      <v-card class="elevation-0">
                        <v-card-text>
                          <div class="layout column align-center">
                            <img src="/static/m.png" alt="Logo" width="320" height="auto" />
                            <span
                              class="font-weight-light display-2 my-4 primary--text"
                            >{{dayState}}</span>
                          </div>
                          <v-form>
                            <div v-show="stores.length == 0">
                              <v-text-field
                                append-icon="person"
                                name="login"
                                label="E-mail"
                                type="text"
                                v-model="model.username"
                              ></v-text-field>
                              <v-text-field
                                append-icon="lock"
                                name="password"
                                label="Senha"
                                id="password"
                                type="password"
                                v-model="model.password"
                              ></v-text-field>
                            </div>

                            <v-icon small>lock</v-icon>
                            <a href="#" @click="goToForgotPwd()">Esqueci minha senha</a>

                            <div v-show="stores.length > 1">
                              <v-select
                                :items="stores"
                                label="Escolha sua loja para entrar"
                                v-model="model.userProfile.storeID"
                                item-value="_id"
                                item-text="url"
                              ></v-select>

                              <a href="#" @click.stop.event="backLogin()">Voltar para login</a>
                            </div>
                          </v-form>
                        </v-card-text>
                        <v-card-actions>
                          <v-container>
                            <v-layout class="row wrap justify-center">
                              <v-flex xs10>
                                <v-btn
                                  block
                                  color="primary"
                                  :disabled="stores.length > 1 && model.userProfile.storeID == null"
                                  @click="acessar"
                                  :loading="loading"
                                >{{stores.length > 1 ? 'Acessar painel' : 'Entrar'}}</v-btn>
                              </v-flex>

                              <v-flex xs10 ma-3 text-xs-center>
                                <label>Ainda não é cliente?</label>
                                <br />
                                <strong>
                                  <a href="#" @click.stop.event="goTo('Contact')">Deixe seu contato</a>
                                </strong>
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </v-card-actions>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>

              <v-flex id="direita" md7 d-flex>
                <v-container>
                  <v-layout justify-center align-center>
                    <v-flex xs6>
                      <span class="font-weight-light display-2 my-4 cyan--text">Seu popup, seu jeito</span>
                      <br />
                      <br />
                      <span class="headline my-4 white--text">
                        Personalize seu popup em tempo real,
                        <br />é fácil, é
                        <strong>nPlay</strong>
                      </span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import UserApi from "@/api/userApi";
import SnackHelper from "@/helper/snack.js";

export default {
  data: () => ({
    loading: false,
    model: {
      username: "",
      password: "",
      userProfile: {
        storeID: null
      }
    }
  }),

  computed: {
    stores: {
      get() {
        return this.$store.getters["userProfile/stores/get"];
      },

      set(val) {
        this.$store.dispatch("userProfile/stores/set", val);
      }
    },

    dayState: function() {
      let currentHour = new Date().getHours();

      let hoursWord = [
        h => {
          return h >= 0 && h < 12 ? "Bom dia" : false;
        },
        h => {
          return h >= 12 && h < 18 ? "Boa tarde" : false;
        },
        h => {
          return h >= 18 ? "Boa noite" : false;
        }
      ];

      let fn = hoursWord.find(fn => {
        return fn(currentHour);
      });

      return fn(currentHour);
    }
  },

  methods: {
    backLogin() {
      this.model.userProfile.storeID = null;
      this.stores = new Array();
    },

    goToForgotPwd()
    {
      this.$router.push({ name: 'ForgotPasswordMail' });
    },

    async acessar() {
      if (this.stores.length == 0)
        await this.login()
      
      this.entrar();
    },

    async keypress(evt)
    {
      evt.preventDefault()

      if(evt.code == 'Enter')
        await this.acessar()
    },

    async login() {
      this.loading = true;
      let objUserAPI = new UserApi();

      let response = await objUserAPI.login(this.model);
      this.loading = false;

      if (response.status != 200)
        new SnackHelper().setWarning(response.data.data).display();

      if (response.status != 200) return null;

      let data = response.data.data.message;

      this.$store.dispatch("userProfile/set", data);
      this.$store.dispatch("userProfile/stores/set", data.stores);
    },

    entrar() {
      if (this.stores.length == 1)
        this.model.userProfile.storeID = this.stores[0]._id;

      let store = this.stores.find(store => {
        return store._id == this.model.userProfile.storeID;
      });

      if (!store) return;

      this.$store.dispatch("userProfile/store/set", store);

      this.model.userProfile.storeID = null;
      this.goTo("Dashboard");
    },

    goTo(param) {
      this.$router.replace({ name: param });
    }
  }
};
</script>
<style scoped lang="css">
#login {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
  background: #042248;
  background-image: url("/static/bg-login.jpg");
}

#esquerda {
  box-shadow: 0px 0px 25px 0px black;
}
</style>

<style>
a {
  text-decoration: none;
}
@media only screen and (max-width: 960px) {
  #direita {
    display: none !important;
  }
}
</style>
