<template>
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="/static/m.png" alt="Vue Material Admin" width="320" height="auto">
                  <h1 class="flex my-4 primary--text">Contato</h1>
                </div>
                <v-form v-model="form.valid">
                  <v-text-field xs6 sm6 append-icon="person" required name="Nome completo" label="Nome Completo" type="text"
                      v-model="model.fullName" :rules="form.rules.required"></v-text-field>
                  <v-text-field xs6 sm6 required name="phone" label="Telefone ex: (47) 1234-56789" type="text"
                      v-model="model.phone" :rules="form.rules.required"></v-text-field>
                  <v-text-field xs6 sm6 append-icon="mail" required name="login" label="E-mail" type="text"
                      v-model="model.email" :rules="form.rules.required"></v-text-field>
                  <v-text-field append-icon="lock" required name="password" label="Senha" id="password"
                    type="password" v-model="model.password"></v-text-field>
                  <v-text-field xs6 sm6 append-icon="person" required name="Link da loja" label="Link da loja" type="text"
                      v-model="model.store.url" :rules="form.rules.required"></v-text-field>
                  <v-flex xs12 sm12 d-flex>
                      <v-select
                        :rules="form.rules.required"
                        :items="platforms"
                        label="Plataforma"
                        v-model="model.store.platform"
                        item-value="value"
                        item-text="name"
                      ></v-select>
                    </v-flex>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <!--<v-btn icon>
                    <v-icon color="blue">fa fa-facebook-square fa-lg</v-icon>
                  </v-btn>
                  <v-btn icon>
                    <v-icon color="red">fa fa-google fa-lg</v-icon>
                  </v-btn>
                  <v-btn icon>
                    <v-icon color="light-blue">fa fa-twitter fa-lg</v-icon>
                  </v-btn>-->
                <v-btn block v-bind:disabled="!form.valid" color="primary" @click="register" :loading="loading">Finalizar</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>

    <simple-dialog id="loadingRegister"></simple-dialog>
  </v-app>
</template>

<script>
  import UserServiceApi from "@/api/service/api/user/create.js"
  import {SimpleDialogHelper, SimpleDialog} from "@/helper/simpleDialogHelper.js"
  import SnackHelper from "@/helper/snack.js";

  export default {
    components: {
      SimpleDialog
    },

    data: () => ({
      loading: false,
      form: {
        valid: false,
        rules: {
          required: [v => !!v || "Requerido"]
        }
      },
      model: {
        "fullName": null,
        "phone": null,
        "email": null,
        "password": null,
        "store": {
            "platform": null,
            "url": null
          }
      },
      platforms: [
        {name: 'Bis2Bis', value: 'bis2bis'},
        //{name: 'Signativa', value: 'signativa'}
      ]
    }),


    methods: {

      async register()
      {        
        this.loading = true;

        let api = new UserServiceApi()
        let response = null

        try {
          let newUser = Object.assign({}, this.model)

          newUser.stores = [newUser.store]
          delete newUser.store

          response = await api.get(newUser)
        } catch (error) {
          this.loading = false
        }
        
        this.loading = false

        if (!response.data.success)
          return new SnackHelper().setWarning(response.data.data.message).display();

        new SnackHelper().setSuccess('Usuario cadastrado com sucesso').display();

        //let data = response.data.data

        //this.$store.dispatch('userProfile/set', data.profile)
        //this.$store.dispatch('userProfile/stores/set', data.profile.stores)
        //this.$store.dispatch('userProfile/store/set', data.store)

        //window.getApp.$router.replace({name: 'Login'})
      }
    }
  };
</script>
<style scoped lang="css">
  #login {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    z-index: 0;
  }
</style>