<template>
  <v-app id="login">
    <v-container fluid ma-0 pa-0 fill-height>
      <v-layout>
        <v-flex>
          <v-container ma-0 fill-height pa-0 fluid v-on:keyup.enter="keypress">
            <v-layout>
              <v-flex id="esquerda" xs12 md6 lg4 white>
                <v-container fill-height>
                  <v-layout justify-center align-center>
                    <v-flex xs12 sm8>
                      <v-card class="elevation-0">
                        <v-card-text>
                          <div class="layout column align-center">
                            <img src="/static/m.png" alt="Logo" width="320" height="auto" />
                            <span
                              class="font-weight-light headline my-4 primary--text"
                            >Redefinição de senha</span>
                          </div>
                          <v-form>
                            <div>
                              <v-text-field
                                append-icon="lock"
                                name="password"
                                label="Nova senha"
                                id="password"
                                type="password"
                                v-model="password"
                              ></v-text-field>
                            </div>

                            <v-icon small>login</v-icon>
                            <a @click.stop.event="backLogin()"> Voltar para login</a>
                          </v-form>
                        </v-card-text>
                        <v-card-actions>
                          <v-container>
                            <v-layout class="row wrap justify-center">
                              <v-flex xs10>
                                <v-btn
                                  block
                                  color="primary"
                                  @click="alterar"
                                  :loading="loading"
                                >Alterar senha</v-btn>
                              </v-flex>
                            </v-layout>
                          </v-container>
                        </v-card-actions>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>

              <v-flex id="direita" md7 d-flex>
                <v-container>
                  <v-layout justify-center align-center>
                    <v-flex xs6>
                      <span class="font-weight-light display-2 my-4 cyan--text">Muito bem</span>
                      <br />
                      <br />
                      <span class="headline my-4 white--text">
                        Agora basta informar sua nova senha no formulário a sua esquerda
                      </span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import UserWritePasswordAPI from "@/api/service/api/user/writePassword.js";
import SnackHelper from "@/helper/snack.js";

export default {
  data: () => ({
    loading: false,
    password: null
  }),

  computed: {
  },

  methods: {
    backLogin() {
      this.$router.push({ name: 'Login' });
    },

    async keypress(evt)
    {
      if(evt.code == 'Enter')
        await this.alterar()
    },

    async alterar() {
      this.loading = true;
      let api = new UserWritePasswordAPI();

      let body = {
        recoverCode: this.$route.params.recoverCode,
        password: this.password
      }

      let response = await api.get(body);
      this.loading = false;

      if (!response.data.success)
        return new SnackHelper().setWarning(response.data.data.message).display();

      new SnackHelper().setSuccess('Sua senha foi alterada com sucesso, considere fazer login novamente').display();
    },
  }
};
</script>
<style scoped lang="css">
#login {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
  background: #042248;
  background-image: url("/static/bg-login.jpg");
}

#esquerda {
  box-shadow: 0px 0px 25px 0px black;
}
</style>

<style>
a {
  text-decoration: none;
}
@media only screen and (max-width: 960px) {
  #direita {
    display: none !important;
  }
}
</style>
