
<template>
   <default-filter :workflowID="workflowID"></default-filter>
</template>

<script>
   import AbstractType from '@/components/tema/list/line/Search/abstractType.vue';

   import defaultFilter from '@/components/tema/list/line/Search/filter/default.vue';
   import ThemeLineFilterMixin from "@/mixin/store/themeLineFilterMixin.js";

   export default {
      extends: AbstractType,

      mixins: [ThemeLineFilterMixin],

      components: {
         defaultFilter
      },

      created: function() {
         this.initialize()
         this.prepareComponentModel()
      },

      methods: {
         async initialize()
         {
            await this.prepareCategoryCollection()
            await this.initializeThemeLineFilter()
         },

         async initializeThemeLineFilter()
         {
            this.themeLineFilter.categoryCollection = this.categoryCollection
            this.themeLineFilter.filterCollection = this.filterCollection

            this.themeLineFilter.searchTypeId = this.line.componentModel.searchTypeId
            this.themeLineFilter.categoryID = this.line.additionalData.categoryID

            this.themeLineFilter.searchTypeIdFilter = 22
         }
      },

      watch: {
         'themeLineFilter.searchTypeId'(val){
            this.line.componentModel.searchTypeId = val
         },

         'themeLineFilter.categoryID'(val){
            this.line.additionalData.categoryID = val
         }
      },

      data() {
         return {
            searchTypeDescription: 'Novidades',
            filterCollection: [
               {
                  text: 'De qualquer categoria',
                  searchTypeId: 3
               },
               {
                  text: 'Da categoria corrente',
                  searchTypeId: 6
               },
               {
                  text: 'Da categoria escolhida',
                  searchTypeId: 22
               }
            ]
         }
      }
   }
</script>