<template>
      <div>
      </div>
   </template>
   
   <script>
      import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
      import DataTableMixin from '@/components/tema/popup/list/mixins/dataTablemixin.js';

      export default {
         mixins: [DefaultMixin, DataTableMixin],

         props: {
            workflowID: {
               type: String,
               required: true
            }
         },
   
         created: function(){
            try {
               this._delete()
               this._close(false)
            } catch (error) {
               
            }
         },
   
         methods: {
            async _delete(){
               let id = this.theme._id

               for(let idx in this.collection)
               {
                  let theme = this.collection[idx]

                  if(theme._id != id)
                     continue;

                  this.collection.splice(idx, 1)
                  break;
               }

               return await this.delete(id)
            }
         }
      };
   </script>