<template>
      <div>
      </div>
   </template>
   <script>
   
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
   import DataTableMixin from '@/components/tema/popup/list/mixins/dataTablemixin.js';
   
   export default {
      mixins: [DataTableMixin, DefaultMixin],
   
      created: function (){
         this.newTheme = Object.assign({}, this.theme)

         this.process()
         this._close()
      },

      methods: {

         async process()
         {
            delete this.newTheme._id
            this.newTheme.additionalData.currentOption = null
            this.newTheme.name += ' - Copia'
            this.newTheme.enabled = false
            this.newTheme.allowDrop = true

            let response = await this.insert(this.newTheme)

            if(response.data.data)
              this.appendTheme(response.data.data)
         },

         appendTheme(theme)
         {
            this.collection.push(theme)
         }
      },
   
      data() {
         return {
            newTheme: new Object
         }
      }
   };
   </script>