<template>
  <div></div>
</template>
   
   <script>
import DefaultMixin from "@/components/tema/popup/list/options/mixins/defaultMixin.js";

export default {
  mixins: [DefaultMixin],

  props: {
    workflowID: {
      type: String,
      required: true
    }
  },

  created: function() {
    this.theme.enabled = !this.theme.enabled;
    this._close();
  },

  computed: {},

  components: {},

  methods: {}
};
</script>