<template>
  <div>
      <v-container>
         <v-layout>
          <v-flex xs12>
              <v-flex md-6>
              <label>Esperar {{this.render.delaySeconds}} segundos</label>
              <v-slider v-model="render.delaySeconds" min="0" max="45" thumb-label ticks></v-slider>
              </v-flex>
              <v-flex md-6>
                <v-btn color="primary" v-bind:disabled="render.delaySeconds == 0" @click="fechar()">OK</v-btn>
                <v-btn color="primary" v-bind:disabled="render.delaySeconds == 0" @click="fechar(false)">Cancelar</v-btn>
              </v-flex>
          </v-flex>
         </v-layout>
      </v-container>
  </div>
</template>
   
   <script>
import DefaultMixin from "@/components/tema/popup/list/options/mixins/defaultMixin.js";

export default {
  mixins: [DefaultMixin],

  props: {
    workflowID: {
      type: String,
      required: true
    }
  },

  data(){
    return {
      render: {
        delaySeconds: 0
      }
    }
  },

  created: function()
  {
    if(!this.theme.additionalData.hasOwnProperty('render'))
    {
      this.$set(this.theme.additionalData, 'render', {
        delayMS: 1000
      })
    }

    this.render.delaySeconds = this.theme.additionalData.render.delayMS / 1000
  },

  computed: {},

  components: {},

  methods: {
    async fechar(save = true){
      this.theme.additionalData.render.delayMS = this.render.delaySeconds * 1000
      
      if(!save)
        await this._refresh()

      await this._close(save)
    },
  }
};
</script>