<template>
  <div>
    <simple-dialog id="customizableTree">
      <template v-slot:body>

        <p class="pa-4 text-xs-justify">
          Olá, nesta seção você poderá definir como seu novo menu será! Para isto você tem alguns recursos, como este filtro aqui em baixo, nele você pode ordenar determinado nível de seu menu por ordem: alfabética, categorias mais vendidas e até categorias mais visualizadas. Ha! não se esqueça, se preferir você pode segurar uma categoria e arrastá-la para onde preferir.
        </p>

        <sort></sort>
       
        <node-tree
          draggable="1"
          id="customizableTree"
          :workflowID="tree.id"
        ></node-tree>
      </template>

      <template v-slot:header-before-title="{ toggleDialog }">
        <v-btn icon dark @click="toggleDialog()">
          <v-icon>close</v-icon>
        </v-btn>
      </template>

      <template v-slot:header-after-title>
        <v-spacer></v-spacer>
          <v-btn color="darken-1" flat @click="reorderTree()">Proximo</v-btn>
      </template>

      <template v-slot:actions="{ toggleDialog }">
        <label @click="_reorderTree(nodes, 1)">Você pode ordenar os menus segurando e soltando-os</label>
        <v-spacer></v-spacer>
        <v-btn color="green darken-1" flat @click="reorderTree()">Proximo</v-btn>
        <v-btn color="green darken-1" flat @click="toggleDialog()">Fechar</v-btn>
      </template>
    </simple-dialog>

    <simple-dialog id="customizableTreeInfos">
      <template v-slot:body>
        <v-form v-model="valid">
          <v-container>
            <v-layout>
              <v-flex xs12>
                <v-text-field
                  v-model="customizableModel.title"
                  :rules="customizableModel.rules.title"
                  label="Qual o titulo do seu tema?"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </template>

      <template v-slot:actions>
        <v-btn color="primary" @click="_insertTheme()" v-bind:disabled="!valid">Finalizar</v-btn>
      </template>
    </simple-dialog>

    <simple-dialog id="loading">
      <template v-slot:body></template>
    </simple-dialog>
  </div>
</template>
<script>

import NodeTree from "@/components/tree/Tree.vue";
import Sort from "@/components/menu/organizar/novo/customizable/Sort.vue";

import {
  SimpleDialogHelper,
  SimpleDialog
} from "@/helper/simpleDialogHelper.js";
import IndexSearchesAPI from "@/api/searches/indexApi.js";
import TreeHelper from "@/components/tree/helper/TreeHelper.js";
import SnackHelper from "@/helper/snack.js";
import { MenuApi, CustomizableCategoryModel } from "@/api/themes/menuApi.js";
import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js"
import ObserverHelper from "@/helper/observer/observerHelper.js";

export default {
  components: {
    SimpleDialog,
    NodeTree,
    Sort
  },

  computed: {
    helper(){
      if(!this.tree.helper)
        this.tree.helper = new WorkflowStoreHelper(this.tree.id);
      
      return this.tree.helper;
    },

    nodes(){
      return this.helper.get()
    }
  },

  methods: {
    showDialogTree() {
      var me = this;

      let fnProcess = async () => {
        let fnGetMenu = async () => {
          let searchAPI = new IndexSearchesAPI();
					let response = await searchAPI.all();

          return response.data.data
        };

        me.dialogHelper
          .loading(true)
          .setTitle("Só um momento...")
          .toggle();
        
        let node = await fnGetMenu();
        let treeHelper = new TreeHelper(node);
        treeHelper.assignAttributes({paint: false});

        me.helper.save(node);
        return true;
      };

      fnProcess().then(response => {
        this.dialogHelper
          .fullscreen(false)
          .loading(false)
          .setTitle("Nova modelo de categoria");
      });
    },

    reorderTree()
    {
      this.dialogHelper.toggle();
        
      this._reorderTree(this.nodes, 1)
      this.customizableModel.tree = this.nodes;

      this.dialogHelperInfos
        .setTitle("Defina um nome para seu tema")
        .loading(false)
        .toggle();
    },

    _reorderTree(nodes, parent_id = null)
    {
      for(let node of nodes)
      {
        node.path = null
        node.parent_id = parent_id

        this._reorderTree(node.children, node.id)
      }

      return nodes
    },

    async _insertTheme() {
      let themeModel = {
        title: this.customizableModel.title,
        categorySearchType: new CustomizableCategoryModel().ID,
        isCurrent: false,
        allowDrop: true,
        data: this.customizableModel.tree
      };

      this.dialogHelperInfos.toggle();

      let dialogLoading = new SimpleDialogHelper("loadingTree")
        .setTitle("Só um momento...")
        .loading(true)
        .toggle();

      let item = null

      try
      {
        let menuAPI = new MenuApi();
        let response = await menuAPI.insert(themeModel);
        item = response.data.data

        let data = new WorkflowStoreHelper('menuOrganizarListPage').get()
        data.itens.push(item)

        dialogLoading
          .loading(false)
          .body("Agora, iremos enviar seu novo tema!")
          .setTitle("Seu tema foi salvo");
      }
      catch (error)
      {
        dialogLoading.loading(false).setTitle("Falha no processamento");
      }

      let snackHelper = new SnackHelper();

      try {
        snackHelper.setWarning('Estamos enviando seu tema para seu ecommerce, só um momento.').display()
        await ObserverHelper.dispatch('atualizListaTemasCategoria')
        await ObserverHelper.dispatch('atualizarTemaCategoria', item)
      } catch (error) {
      }
    }
  },

  data() {
    return {
      valid: false,
      tree: {
        id: "customizableTree",
        helper: null
      },
      customizableModel: {
        tree: null,
        title: null,
        rules: {
          title: [v => !!v || "Requerido"]
        }
      }
    };
  },

  created: function() {
    (this.dialogHelper = new SimpleDialogHelper("customizableTree")),
      (this.dialogHelperInfos = new SimpleDialogHelper(
        "customizableTreeInfos"
      ));
  }
};
</script>