<template>
    <GChart
    :data="dataSource"
    :options="chartOptions"
    :resizeDebounce="1000"
    :createChart="(el, google) => {
      return new google.visualization.ColumnChart(el)
    }"
    @ready="onChartReady"
  />
</template>

<script>

import ColumnMixin from "@/components/dashboard/column/mixins/columnMixin.js";
import AccessVsSell from "@/api/statistic/analytics/accessVsSell.js";
import { GChart } from 'vue-google-charts'

export default {

  mixins: [ColumnMixin],

  created: function(){
    this.updateDataSource()
  },

  components: {
    GChart
  },

  data(){
    return {
      api: new AccessVsSell(),
      chartOptions: {
            chart: {
                title: 'Company Performance',
                subtitle: 'Sales, Expenses, and Profit: 2014-2017'
            },
            height: 350
        }
    }
  },

  methods: {
    onChartReady (chart, google) {
      google.visualization.events.addListener(chart, 'error', this.onError.bind(this, google, chart))
    },

    onError(google, chart, evt){

      let container = chart.container

      google.visualization.errors.removeError(evt.id)

      google.visualization.errors.addError(container, 'Sem informações no momento', '', {
        showInTooltip: false
      })

      container.style.height = this.chartOptions.height + 'px'
    },

    async updateDataSource() {
      let period = this.period
      let toDate = new Date().toISOString()
      
      let fromDate = new Date()

      let fromDays = period.fromDays
      let diffDays = fromDays * 24 //hours
      fromDate.setHours(diffDays)
      fromDate = fromDate.toISOString()

      let sourceCollection = [
        ['Dia', 'Vendas', 'Sessões']
      ]
      
      let response = await this.api.get(fromDate, toDate)
      let collection = response.data.data

      for(let item of collection)
      {
        let date = new Date(item.day).getDate()
        let day = date < 10 ? '0'+date : date;

        sourceCollection.push([day, item.sell, item.access])
      }

      this.dataSource = sourceCollection
    }
  }
};
</script>