<template>
  <v-navigation-drawer
    id="appDrawer"
    :mini-variant.sync="mini"
    fixed
    stateless
    :dark="$vuetify.dark"
    app
    v-model="drawer"
    width="260"
  >
    <v-toolbar color="primary darken-1" dark>
      <img v-bind:src="computeLogo" height="36" alt="Vue Material Admin Template" style="margin: 0 auto; filter: brightness(0) invert(1)"/>
      <v-toolbar-title class="ml-0 pl-3" @click="goHome()" style="cursor: pointer">
        <!-- <span class="hidden-sm-and-down">Vitrine</span> -->
      </v-toolbar-title>
    </v-toolbar>
    
    <v-list expand dense>
      <page-menu :items="items"></page-menu>
    </v-list>

  </v-navigation-drawer>
</template>
<script>

import {Menu} from '../api/menu'
import PageMenu from "@/components/PageMenu.vue"

export default {
  name: "app-drawer",
  components: {
    PageMenu
  },
  props: {
    expanded: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    mini: false,
    drawer: true,
    scrollSettings: {
      maxScrollbarLength: 160
    },
    items: Menu
  }),
  computed: {
    computeLogo() {
      return "/static/m.png";
    },

    sideToolbarColor() {
      return this.$vuetify.options.extra.sideNav;
    }
  },
  created() {
    //window.getApp.$on('APP_DRAWER_TOGGLED', () => {
    //  this.drawer = (!this.drawer);
    //});
  },

  methods: {
    goHome() {
      this.$router.push({ path: "/dashboard" });
    }
  }
};
</script>