<template>
  <v-card class="elevation-0" color="transparent">
  <v-toolbar height="52" flat :color="toolbarColor" >
    <v-toolbar-side-icon v-if="icon">
      <v-icon large>{{icon}}</v-icon>
    </v-toolbar-side-icon>
    
    <v-toolbar-title>
      <v-container>
        <v-layout column>
          <v-flex>
            <v-breadcrumbs class="pa-0" divider=">" :items="breadcrumbItems">
              <v-breadcrumbs-item
                  slot="item"
                  slot-scope="{ item }"
                  exact
                  @click="breadCrumbGo(item)">
                  {{ item.text }}
              </v-breadcrumbs-item>
            </v-breadcrumbs>
          </v-flex>
          <v-flex v-if="subTitle" class="body-1 font-weight-light">
            <div v-html="subTitle"></div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-toolbar-title>
    
  </v-toolbar>

    <v-divider></v-divider>

    <v-progress-linear v-show="loading" style="margin: 0; height: 3px;" indeterminate color="primary"></v-progress-linear>

   <fieldset v-bind:class="{ loading: loading}" style="border: none" :disabled="loading">
      
    <div id="blocker" v-bind:class="{ enabled: loading}"></div>
      <slot name="body"></slot>
   </fieldset>
  </v-card>
</template>
    
<script>
import {Breadcrumb} from '../api/menu'

export default {
  props: {
    title: {
      type: String
    },
    subTitle: {
      type: String
    },
    icon: {
      type: String
    },
    toolbarColor: {
      type: String,
      default: 'light'
    }
  },
  computed: {

    currentPage(){
      return this.$store.getters['currentPage/get']({workflowID: 'default'})
    },

    loading(){
      let curPage = this.currentPage
      return curPage.loading
    },

    menuId(){
      return this.currentPage.additionalData.menuId
    },

    breadcrumbItems(){
      return !this.menuId ? [] : Breadcrumb(this.menuId)
    }
  },
  methods: {
    breadCrumbGo(breadCrumb){
      let node = breadCrumb.node

      if(node.hasOwnProperty('items') == false)
        this.$router.push({ name: node.name, params: node.params })
    }
  },
  data() {
    return {
      
    };
  }
};
</script>

<style scoped>
.loading{
  filter: blur(2px)
}

div#blocker{
  display: none;
}

div#blocker.enabled{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999;
}
</style>