<template>
  <div>
    <div v-for="(item, index) of items" :key="item.id">
       <v-list v-if="item.header" expand dense :class="item.class">
          <template>
            <v-list-tile
              ripple
              @click="go(item)"
            >
              <v-list-tile-avatar size="24">
                <v-icon>{{item.icon}}</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>

        <v-list-group
          v-if="!item.header && item.items"
          :prepend-icon="item.icon"
          :sub-group="isRoot == '1' ? false : true"
          value="true"
        >
          <template v-slot:activator>
            <v-list-tile>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>

          <page-menu isRoot="0" :items="item.items"></page-menu>
        </v-list-group>

        
            <v-list-tile
              v-if="!item.header && !item.items"
              ripple
              :key="item.id"
              @click="go(item)"
            >
              <v-list-tile-avatar>
                <v-icon>{{item.icon}}</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-divider
              v-if="index + 1 < items.length"
              :key="index"
            ></v-divider>
    </div>
  </div>
</template>
<script>


export default {
  name: "pageMenu",
  components: {},
  props: {
    items: {
      type: Array
    },
    isRoot: {
      type: String,
      default: "1"
    }
  },

  computed: {},
  created() {},

  methods: {
    go(item)
    {
      this.$store.dispatch('currentPage/setMenuId', {
        workflowID: 'default',
        payload: item.id
      })

      this.$router.push({ name: item.name, params: item.params })
    }
  }
};
</script>

