<template>
  <div>
    <card sub-title="Configurações básicas" color="transparent">
      <template v-slot:body>
        <v-card color="transparent" class="elevation-0">
          <v-card-text>
            <v-form v-model="form.valid">
              <v-container>
                <v-layout justify-center row wrap>
                  <v-flex xs12>
                    Olá não se esqueça de inserir 
                    
                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <a href="#" style="text-decoration: underline;" v-on="on" @click="copiar()">
                            <strong>sua chave de acesso</strong>
                          </a>
                        </template>
                        <span>Copiar chave de acesso</span>
                     </v-tooltip>  
                    em sua loja <strong>Bis2Bis</strong>
                  </v-flex>

                  <v-flex xs12>
                    Estamos arrumando as coisas para você, porém precisamos de alguns dados
                    <br>
                    
                    <v-text-field :rules="form.rules.required" v-model="storeModel.additionalData.soapURL" label="URL API SOAP" required></v-text-field>

                    <v-text-field :rules="form.rules.required" v-model="storeModel.additionalData.soapUser" label="Usuario SOAP" required></v-text-field>

                    <v-text-field type="password" :rules="form.rules.required" v-model="storeModel.additionalData.soapApiKey" label="API Key SOAP" required></v-text-field>

                    <v-select
                      label="Usa WSI"
                      :rules="form.rules.required"
                      v-model="storeModel.additionalData.wsi"
                      :items="wsiOption"
                    ></v-select>

                    <v-text-field :rules="form.rules.required" v-model="storeModel.additionalData.storeView" label="Store View ID" required></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-container>
              <v-layout>
                <v-flex text-xs-right xs12>
                  <v-btn v-bind:disabled="!form.valid" @click="_saveUserProfile()" color="primary">Continuar</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-actions>
        </v-card>
      </template>
    </card>

    <div id="token" class="hidden">
      {{token}}
    </div>
  </div>
</template>

<script>
  import Card from "@/components/Card.vue"
  import DataMixin from "@/components/instalation/platform/bis/mixins/dataMixin.js";
  import ServiceStorageCountAPI from "@/api/service/storage/count.js";
  import StorageItemRequest from "@/api/service/storage/ItemRequest.js";
  import SnackHelper from "@/helper/snack.js";

  export default {
    mixins: [DataMixin],

    components: {
      Card
    },

    computed: {
      token()
      {
        return this.$store.getters['userProfile/store/token']
      }
    },

    data: () => ({
      form: {
        valid: false,
        rules: {
          required: [v => !!v || "Requerido"]
        }
      },
      wsiOption: [{
        text: 'Sim',
        value: true
      },
      {
        text: 'Não',
        value: false
      }],
      loading: false,
      storeModel: {
        additionalData: {
          soapURL: null,
          soapUser: null,
          soapApiKey: null,
          itemLastUpdate: null,
          storeView: null
        }
      }
    }),

    methods: {

      async _saveUserProfile()
      {
        this.snackHelper = new SnackHelper();

         this.$store.dispatch('currentPage/setLoading', {
            workflowID: 'default',
            payload: true
          })

        try {
            await this.saveUserProfile(2)

            let api = new StorageItemRequest()
            let response = await api.get()

            if(response.data.success == false)
              throw new Error(`Fail in request itens`)

            await this.goRedirector()

          this.snackHelper
            .setSuccess('Sucesso! Estaremos processando alguns dados mas pode ficar tranquilo, você já pode usar seu painel!')
            .display()
        } catch (error) {
          
          console.log(error.message)

          this.snackHelper
          .setError('Houve um problema, por favor entre em contato com o suporte')
          .display()
        }

        this.$store.dispatch('currentPage/setLoading', {
          workflowID: 'default',
          payload: false
        })
      },

    copiar()
    {
        new SnackHelper()
        .setSuccess('Chave de acesso copiada!')
        .display()

        let range = new Range
        let ele = document.querySelector('#token')
        ele.classList.add('invisible')
        ele.classList.remove('hidden')
        range.selectNode(ele)
        getSelection().empty()
        getSelection().addRange(range)
        document.execCommand("copy");
        getSelection().empty()

        ele.classList.add('hidden')
        ele.classList.remove('invisible')
    },
    }
  };
</script>

<style>
  .hidden{
    display: none;
  }

  .invisible{
    opacity: 0;
  }
</style>