<template>
  <div>
    <v-dialog
      :content-class="objDialog.right ? 'right' : ''"
      v-if="objDialog"
      :width="objDialog.width"
      :fullscreen="objDialog.fullscreen == 1 ? true : false"
      transition="dialog-bottom-transition"
      v-model="objDialog.enabled"
      persistent
    >
      <v-card class="text-md-center" v-if="objDialog.loaded == false">
        <v-card-title class="grey lighten-2">{{objDialog.title}}</v-card-title>
        <v-container style="width: 5%">
          <v-layout>
            <v-flex class="justify-center">
              <v-progress-circular indeterminate color="primary"></v-progress-circular>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card>

      <v-card v-if="objDialog.loaded == true">
        <slot name="header" v-bind:toggleDialog="toggleDialog">
          <v-toolbar dark color="primary" v-show="objDialog.showToolbar">
            <slot name="header-before-title" v-bind:toggleDialog="toggleDialog">
              <v-btn icon dark @click="toggleDialog()">
                <v-icon>close</v-icon>
              </v-btn>
            </slot>

            <v-toolbar-title>{{objDialog.title}}</v-toolbar-title>

            <slot name="header-after-title">
              <v-spacer></v-spacer>
              <!-- <v-toolbar-items>
                    <v-btn icon dark>
                      <v-icon>check</v-icon>
                    </v-btn>
              </v-toolbar-items>-->
            </slot>
          </v-toolbar>
        </slot>

        <slot name="body">
          <div style="padding: 1em;">{{objDialog.body}}</div>
        </slot>

        <v-card-actions>
          <slot name="actions" v-bind:toggleDialog="toggleDialog">
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" flat @click="toggleDialog()">Fechar</v-btn>
          </slot>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },

  components: {},

  props: {
    id: String
  },

  computed: {
    objDialog: function() {
      return this.$store.getters["dialogs/get"]({ workflowID: this.id });
    }
  },

  created() {},

  methods: {
    save() {
      this.$store.dispatch("dialogs/set", {
        workflowID: this.id,
        payload: this.objDialog
      });
    },

    toggleDialog() {
      this.objDialog.enabled = !this.objDialog.enabled;
      this.save();
    }
  }
};
</script>

<style lang="stylus">
.v-dialog__content .right {
  margin: 0;
  position: fixed;
  right: 0;
  height: 100vh;
  align-items: flex-start;
}

.v-dialog:not(.v-dialog--fullscreen).right,
.v-dialog__content .right {
  max-height: 100%;
}

.v-dialog__content .right .v-card {
  height: 100vh;
}

.v-dialog.right .v-card__actions {
  position: fixed;
  bottom: 0;
  right: 0;
}
</style>