<template>
    <simple-dialog :id="workflowID">
      <template v-slot:body>
          <v-container text-xs-center>
            <v-layout>
              <v-flex xs12>
                  <v-form>
                    <v-radio-group v-model="days" class="justify-center">
                        <v-radio
                            label="Ver Últimas 24 horas"
                            value="-1"
                        ></v-radio>
                        <v-radio
                            label="Ver Últimos 7 dias"
                            value="-7"
                        ></v-radio>
                        <v-radio
                            label="Ver Últimos 14 dias"
                            value="-14"
                        ></v-radio>
                        <v-radio
                            label="Ver Últimos 30 dias"
                            value="-30"
                        ></v-radio>
                    </v-radio-group>
                  </v-form>
              </v-flex>
            </v-layout>
          </v-container>
      </template>

      <template v-slot:actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="toggleDialog()">Salvar e sair</v-btn>
        <v-btn color="primary" @click="toggleDialog(false)">Sair</v-btn>
      </template>
    </simple-dialog>
</template>

<script>

import {
  SimpleDialogHelper,
  SimpleDialog
} from "@/helper/simpleDialogHelper.js";

export default {
  props: {
    workflowID: {
      type: String,
      required: true
    }
  },
  components: {
    SimpleDialog
  },
  data: () => {
    return {
      days: null
    };
  },
  created() {
    this.days = this.fromDays + ""
  },
  methods: {
    toggleDialog(save = true){

        if(save)
            this.fromDays = this.days

        let diag = new SimpleDialogHelper(this.workflowID)
        diag.toggle()
    }
  },
  computed: {
      period(){
        return this.$store.getters['period/get']({workflowID: this.workflowID})
      },

      fromDays: {
          get: function(){
            return this.period.fromDays
          },
          set: function(val){
            let data = this.$store.getters['period/get']({workflowID: this.workflowID})
            data.fromDays = parseInt(val)

            this.$store.dispatch('period/set', {
                workflowID: this.workflowID,
                payload: data
            })
          }
      }
  },
  watch: {
      
  }
};
</script>