<template>
    <dataAPI></dataAPI>
 </template>
 
 <script>
 import dataAPI from "@/components/instalation/platform/bis/dataAPI.vue"

 export default {
  components: {
    dataAPI
  },

  created(){
  },

  computed: {
    platform(){
      return this.$store.getters['userProfile/store/get'].platform
    }
  }
 };
 </script>
 