<template>
  <div>
    <card sub-title="Configurações básicas" color="transparent">
      <template v-slot:body>
        <v-card color="transparent" class="elevation-0">
          <v-card-text>
            <v-form v-model="form.valid">
              <v-container>
                <v-layout justify-center row wrap>
                  <v-flex xs12>
                    Olá não se esqueça de inserir 
                    
                     <v-tooltip top>
                        <template v-slot:activator="{ on }">
                          <a href="#" style="text-decoration: underline;" v-on="on" @click="copiar()">
                            <strong>sua chave de acesso</strong>
                          </a>
                        </template>
                        <span>Copiar chave de acesso</span>
                     </v-tooltip>  
                    em sua loja <strong>Bis2Bis</strong>
                  </v-flex>

                  <v-flex xs12 v-show="itemTotal == 0">
                    <p>
                      Para continuarmos precisamos aguardar o processamento de seus produtos, quando o processo for concluído será possível continuar.
                    </p>
                    Ainda não identificamos a conclusão do processamento, por favor, tente novamente mais tarde
                  </v-flex>

                  <v-flex xs12 v-show="itemTotal > 0">
                    Identificamos que os produtos foram processados, você já pode continuar
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-container>
              <v-layout>
                <v-flex text-xs-right xs12>
                  <v-btn v-bind:disabled="!form.valid || itemTotal == 0" @click="_saveUserProfile()" color="primary">Continuar</v-btn>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-actions>
        </v-card>
      </template>
    </card>

    <div id="token" class="hidden">
      {{token}}
    </div>
  </div>
</template>

<script>
  import Card from "@/components/Card.vue"
  import DataMixin from "@/components/instalation/platform/bis/mixins/dataMixin.js";
  import ServiceStorageCountAPI from "@/api/service/storage/count.js";
  import SnackHelper from "@/helper/snack.js";

  export default {
    mixins: [DataMixin],

    components: {
      Card
    },

    created()
    {
      this.interVal = setInterval(this.updateItemTotal, 5000)
    },

    computed: {
      token()
      {
        return this.$store.getters['userProfile/store/token']
      }
    },

    data: () => ({
      form: {
        valid: false,
        rules: {
          required: [v => !!v || "Requerido"]
        }
      },
      loading: false,
      itemTotal: 0
    }),

    methods: {
      async _saveUserProfile()
      {
        this.snackHelper = new SnackHelper();

         this.$store.dispatch('currentPage/setLoading', {
            workflowID: 'default',
            payload: true
          })

        try {
          await this.saveUserProfile(0)
          await this.runSchedules()

          this.snackHelper
            .setSuccess('Sucesso! Estaremos processando alguns dados mas pode ficar tranquilo, você já pode usar seu painel!')
            .display()

          await this.goRedirector()
          
        } catch (error) {
          this.snackHelper
          .setError('Houve um problema, por favor entre em contato com o suporte')
          .display()
        }

        this.$store.dispatch('currentPage/setLoading', {
          workflowID: 'default',
          payload: false
        })
      },

      async updateItemTotal()
      {
        let response = await new ServiceStorageCountAPI().get()
        this.itemTotal = parseInt(response.data.data)

        if(this.itemTotal > 0)
          clearInterval(this.interVal)
      },

    copiar()
    {
        new SnackHelper()
        .setSuccess('Chave de acesso copiada!')
        .display()

        let range = new Range
        let ele = document.querySelector('#token')
        ele.classList.add('invisible')
        ele.classList.remove('hidden')
        range.selectNode(ele)
        getSelection().empty()
        getSelection().addRange(range)
        document.execCommand("copy");
        getSelection().empty()

        ele.classList.add('hidden')
        ele.classList.remove('invisible')
    },
    }
  };
</script>

<style>
  .hidden{
    display: none;
  }

  .invisible{
    opacity: 0;
  }
</style>