<template>
   <v-container>
      <v-layout>
         <v-flex xs12>
            <label>Cor para o botão "Comprar": </label>
            <input @change="color($event)" type="color">
         </v-flex>
      </v-layout>
   </v-container>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
   import StyleHelper from "@/helper/StyleHelper.js";

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      components: {
      },

      created: function(){
         this.styleHelper = new StyleHelper(this.html)
      },

      data: function(){
         return {
            config: {
               modules:{
                  toolbar: [
                     ['bold', 'italic'],
                     [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                     [{ 'color': [] }],
                     ['clean']
                  ],
               }
            }
         }
      },

      computed: {
         cssContainer(){
            return `#_${this.theme._id}`
         },
         html: {
            set: function(val){
               this.theme.html = window.btoa(encodeURIComponent(val))
            },
            get: function(){
               return decodeURIComponent(window.atob(this.theme.html))
            }
         }
      },

      methods: {
        color(evt){
           let color = evt.target.value

           this.styleHelper.setRule(`${this.cssContainer} .button.btn-cart *`, `
               {
                  color: ${color};
               }
           `)

           this.html = this.styleHelper.innerHTML
        }
      }
   };
</script>