<template>
   <div>
      <label>Frase botão comprar</label>
      <quill-editor
         v-model="title"
         :options="config"
      />
   </div>
</template>

<style>
   .button.btn-cart span p{
      margin: 0;
   }
</style>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   import 'quill/dist/quill.core.css'
   import 'quill/dist/quill.snow.css'
   import 'quill/dist/quill.bubble.css'

   import { quillEditor } from 'vue-quill-editor'

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      components: {
         quillEditor
      },

      created: function(){
      },

      data: function(){
         return {
            config: {
               modules:{
                  toolbar: [
                     ['bold', 'italic'],
                     [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                     [{ 'color': [] }],
                     ['clean']
                  ],
               }
            }
         }
      },

      computed: {
         html: {
            set: function(val){
               this.theme.html = window.btoa(encodeURIComponent(val))
            },
            get: function(){
               return decodeURIComponent(window.atob(this.theme.html))
            }
         },
         title: {
            set: function(val){
               let doc = new DOMParser().parseFromString(this.html, 'text/html').body
               doc.querySelector('.button.btn-cart span').innerHTML = val;

               this.html = doc.innerHTML
            },
            get: function(){
               let doc = new DOMParser().parseFromString(this.html, 'text/html').body
               return doc.querySelector('.button.btn-cart span').innerHTML
            }
         }
      },

      methods: {
        
      }
   };
</script>