<template>
   <div>
      <v-container>
         <v-layout>
            <v-flex md-6>
               <v-text-field v-model="code" required></v-text-field>
            </v-flex>
            <v-flex md-6>
               <v-btn color="primary" v-bind:disabled="!code" @click="fechar()">OK</v-btn>
               <v-btn color="primary" v-bind:disabled="!code" @click="fechar(false)">Cancelar</v-btn>
            </v-flex>
         </v-layout>
      </v-container>
   </div>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      computed: {
      },

      created: function(){
         if(!this.theme.additionalData.hasOwnProperty('couponCode'))
            this.$set(this.theme.additionalData, 'couponCode', null);
         
         this.code = this.theme.additionalData.couponCode
      },

      data: function(){
         return {
            code: null
         }
      },

      components: {
      },

      methods: {
         async fechar(save = true){
            this.theme.additionalData.couponCode = this.code

            if(!save)
               await this._refresh()

            await this._close(save)
         }
      }
   };
</script>