<template>
   <div>
    <simple-dialog :id="dialogID">
      <template v-slot:body>
         <v-container>
            <v-layout row wrap align-center justify-center>
                  <v-flex xs12  md6 style="border-right: 1px dashed gray;">
                     <v-flex xs12>
                        <image-header :workflowID="workflowID"></image-header>
                     </v-flex>

                     <v-flex xs12 text-xs-center>
                        <v-layout>
                           <v-flex xs6>
                              <header-option :workflowID="workflowID"></header-option>
                           </v-flex>
                           <v-flex xs6>
                              <display-mode-option :workflowID="workflowID"></display-mode-option>
                           </v-flex>
                        </v-layout>
                     </v-flex>
                     <br>

                     <v-flex xs12>
                        <titles :workflowID="workflowID"></titles>
                     </v-flex>
                   
                  </v-flex>
                  <v-flex xs12 md6>
                     <v-layout row wrap align-center justify-center v-show="!loaded">
                        Aguarde...
                     </v-layout>
                     
                     <v-layout row wrap align-center justify-center v-show="loaded">
                        <v-flex xs12 id="popupContainer">
                           <div id="popupArea"></div>
                        </v-flex>
                     </v-layout>
                  </v-flex>
            </v-layout>
         </v-container>
      </template>

      <template v-slot:header-before-title>
         <v-btn icon dark @click="sair()">
            <v-icon>close</v-icon>
         </v-btn>
      </template>

      <template v-slot:header-after-title>
      <v-spacer></v-spacer>
      <v-btn icon dark @click="salvar()">
         <v-icon>check</v-icon>
      </v-btn>
      </template>

      <template v-slot:actions>
        <div></div>
      </template>
    </simple-dialog>
   </div>
</template>

<style scoped>
   .container{
      padding: 5px;
   }
</style>

<script>
	import {
		SimpleDialogHelper,
		SimpleDialog
   } from "@/helper/simpleDialogHelper.js";
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
   import Titles from "@/components/tema/popup/list/options/customoptions/abstract/visualEditor/Titles.vue"
   import ImageHeader from "@/components/tema/popup/list/options/customoptions/abstract/visualEditor/Image.vue"
   import HeaderOption from "@/components/tema/popup/list/options/customoptions/abstract/visualEditor/Header.vue"
   import DisplayModeOption from "@/components/tema/popup/list/options/customoptions/abstract/visualEditor/DisplayMode.vue"

   export default {
      mixins: [DefaultMixin],

      components: {
        SimpleDialog,
        Titles,
        ImageHeader,
        HeaderOption,
        DisplayModeOption
      },

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      watch: {
         theme: {
            handler(val){
               this.reloadPopup()
            },
            deep: true
         },

         loaded(newV, oldV)
         {
            if(newV == false)
               setTimeout( this.reloadPopup, 4000)
         }
      },

      computed: {
         token()
         {
            return this.$store.getters['userProfile/store/token']
         }
      },

      created: function()
      {
        this.loadPopup()

        this.dialogHelper = new SimpleDialogHelper(this.dialogID);
        this.dialogHelper
        .setTitle(`Titulos e imagem`)
        .width('100%')
        .loading(false)
        .open();
      },

      data: function(){
         return {
            loaded: null,
            dialogHelper: null,
            dialogID: this.workflowID + "_titles",
            defaultItens: JSON.parse(`[{"categorys":[21],"id":"Pwb00628","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Crepe flat front straight leg trouser. Cropped ankle length. Side slit pockets and single rear welt pocket. Available in Ivory. Acetate/viscose. Dry clean.","entityId":"682","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwb006a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/682/s/hester-ankle-pant/?___SID=U&___store=german","price":"260 USD","product_type":null,"title":"Hester Ankle Pant"},{"categorys":[21],"id":"Pwb00629","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Crepe flat front straight leg trouser. Cropped ankle length. Side slit pockets and single rear welt pocket. Available in Ivory. Acetate/viscose. Dry clean.","entityId":"683","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwb006a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/683/s/hester-ankle-pant/?___SID=U&___store=german","price":"260 USD","product_type":null,"title":"Hester Ankle Pant"},{"categorys":[21],"id":"Pwb00630","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Crepe flat front straight leg trouser. Cropped ankle length. Side slit pockets and single rear welt pocket. Available in Ivory. Acetate/viscose. Dry clean.","entityId":"684","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwb006a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/684/s/hester-ankle-pant/?___SID=U&___store=german","price":"260 USD","product_type":null,"title":"Hester Ankle Pant"},{"categorys":[21],"id":"Pwb00631","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Crepe flat front straight leg trouser. Cropped ankle length. Side slit pockets and single rear welt pocket. Available in Ivory. Acetate/viscose. Dry clean.","entityId":"685","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwb006a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/685/s/hester-ankle-pant/?___SID=U&___store=german","price":"260 USD","product_type":null,"title":"Hester Ankle Pant"},{"categorys":[21],"id":"Pwb00632","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Crepe flat front straight leg trouser. Cropped ankle length. Side slit pockets and single rear welt pocket. Available in Ivory. Acetate/viscose. Dry clean.","entityId":"686","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwb006a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/686/s/hester-ankle-pant/?___SID=U&___store=german","price":"260 USD","product_type":null,"title":"Hester Ankle Pant"},{"categorys":[21],"id":"Pwd0000","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Wrap dress with deep Vee. Knee length. Available in Blue. Cotton/Cashmere. Hand wash, dry clean for best results.","entityId":"687","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd000a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/687/s/angela-wrap-dress/?___SID=U&___store=german","price":"395 USD","product_type":null,"title":"Angela Wrap Dress"},{"categorys":[21],"id":"Pwd0002","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Wrap dress with deep Vee. Knee length. Available in Blue. Cotton/Cashmere. Hand wash, dry clean for best results.","entityId":"688","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd000a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/688/s/angela-wrap-dress/?___SID=U&___store=german","price":"395 USD","product_type":null,"title":"Angela Wrap Dress"},{"categorys":[21],"id":"Pwd0004","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Wrap dress with deep Vee. Knee length. Available in Blue. Cotton/Cashmere. Hand wash, dry clean for best results.","entityId":"689","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd000a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/689/s/angela-wrap-dress/?___SID=U&___store=german","price":"395 USD","product_type":null,"title":"Angela Wrap Dress"},{"categorys":[21],"id":"Pwd0006","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Wrap dress with deep Vee. Knee length. Available in Blue. Cotton/Cashmere. Hand wash, dry clean for best results.","entityId":"690","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd000a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/690/s/angela-wrap-dress/?___SID=U&___store=german","price":"395 USD","product_type":null,"title":"Angela Wrap Dress"},{"categorys":[21],"id":"Pwd0008","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Wrap dress with deep Vee. Knee length. Available in Blue. Cotton/Cashmere. Hand wash, dry clean for best results.","entityId":"691","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd000a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/691/s/angela-wrap-dress/?___SID=U&___store=german","price":"395 USD","product_type":null,"title":"Angela Wrap Dress"},{"categorys":[21],"id":"Pwd00010","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Wrap dress with deep Vee. Knee length. Available in Blue. Cotton/Cashmere. Hand wash, dry clean for best results.","entityId":"692","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd000a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/692/s/angela-wrap-dress/?___SID=U&___store=german","price":"395 USD","product_type":null,"title":"Angela Wrap Dress"},{"categorys":[21],"id":"Pwd00012","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Wrap dress with deep Vee. Knee length. Available in Blue. Cotton/Cashmere. Hand wash, dry clean for best results.","entityId":"693","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd000a_1.jpg","link":"http://magento19.local.com/catalog/product/view/id/693/s/angela-wrap-dress/?___SID=U&___store=german","price":"395 USD","product_type":null,"title":"Angela Wrap Dress"},{"categorys":[21],"id":"Pwd0010","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Leather sheath dress with jersey panels. Sleeveless. Lined. Available in Black. Cotton/Leather. Dry clean.","entityId":"694","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd001a_2.jpg","link":"http://magento19.local.com/catalog/product/view/id/694/s/jane-dress/?___SID=U&___store=german","price":"510 USD","product_type":null,"title":"Jane Dress"},{"categorys":[21],"id":"Pwd0012","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Leather sheath dress with jersey panels. Sleeveless. Lined. Available in Black. Cotton/Leather. Dry clean.","entityId":"695","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd001a_2.jpg","link":"http://magento19.local.com/catalog/product/view/id/695/s/jane-dress/?___SID=U&___store=german","price":"510 USD","product_type":null,"title":"Jane Dress"},{"categorys":[21],"id":"Pwd0014","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Leather sheath dress with jersey panels. Sleeveless. Lined. Available in Black. Cotton/Leather. Dry clean.","entityId":"696","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd001a_2.jpg","link":"http://magento19.local.com/catalog/product/view/id/696/s/jane-dress/?___SID=U&___store=german","price":"510 USD","product_type":null,"title":"Jane Dress"},{"categorys":[21],"id":"Pwd0016","availability":"in stock","condition":"new","created_at":"2020-05-01T08:35:34.000Z","description":"Leather sheath dress with jersey panels. Sleeveless. Lined. Available in Black. Cotton/Leather. Dry clean.","entityId":"697","image_link":"http://magento19.local.com/media/catalog/product/p/w/pwd001a_2.jpg","link":"http://magento19.local.com/catalog/product/view/id/697/s/jane-dress/?___SID=U&___store=german","price":"510 USD","product_type":null,"title":"Jane Dress"}]`)
         }
      },

      methods: {
         async sair(){
            await this._clearCurrentOption()
            this.dialogHelper.close();
            await this._refresh()
         },

         salvar(){
            this.dialogHelper.close();
            this._close();
         },

         async reloadPopup()
         {
            let cpyTheme = JSON.parse(JSON.stringify(this.theme))
            cpyTheme.additionalData.itens = this.defaultItens
            cpyTheme.additionalData.render.delayMS = 0
            
            let clientPopup = window.vitrineApp.clients.get(this.token).publicLibraries.popup

            let popup = await clientPopup.previewMode(cpyTheme)

            popup.eventTarget.addEventListener('afterPrepareRender', (evt) => {
               evt.detail.render.options.containerXpath = '#popupArea'
            })

            await popup.initialize()
            this.loaded = true
         },

         async loadPopup()
         {
            window.vitrineLoader = {
               options:{"librarys":["popup"],"popup":{"mode":"preview"}}
            }
            
            let eleScript = document.querySelector('#vitrine-loader')

            if(!eleScript)
            {
               let eleScript = document.createElement('script')
               eleScript.id = 'vitrine-loader'
               eleScript.onload = this.loaded = false
               eleScript.src = `https://cdn.nplay.com.br/vitrine/loader/js/bundle.js?token=${this.token}`
               document.body.appendChild(eleScript)
            }
            else
               this.loaded = false
         }
      }
   };
</script>