<template>
  <v-card>
    <v-toolbar color="transparent" flat dense card>
      <v-toolbar-title><h4>Valor médio do pedido</h4></v-toolbar-title>
      <v-spacer></v-spacer>
      <slot name="widget-header-action"></slot>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="fill-height">
      <v-layout column align-center fill-height>
        <v-flex class="d-flex align-center headline text-sm-center">
          R${{dataSource || '0,00'}}
        </v-flex>
        <v-flex>
          <span class="caption">Total da ordem dividido pelo total de pedidos</span>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>

</template>

<script>

import VitrineTotal from "@/components/dashboard/statistic/VitrineTotal.vue";
import AnalyticsTotalStore from "@/api/statistic/analytics/total/store.js";

export default {
  extends: VitrineTotal,

  data() {
    return {
      api: new AnalyticsTotalStore()
    };
  },

  components: {
  },

  methods: {
    async updateDataSource() {
      let period = this.period;
      let toDate = new Date().toISOString();

      let fromDate = new Date();

      let fromDays = period.fromDays;
      let diffDays = fromDays * 24; //hours
      fromDate.setHours(diffDays);
      fromDate = fromDate.toISOString();

      let response = await this.api.get(fromDate, toDate);

      let collection = response.data.data;

      if(collection.length != 1)
        return this.dataSource = '0,00'

      let data = collection[0]

      let value = data.total / data.ordersQty

      this.dataSource = parseFloat(value)
        .toFixed(2)
        .replace(".", ",");
    }
  }
};
</script>
