<template>
  <v-card>
    <v-toolbar color="transparent" flat dense card>
      <v-toolbar-title><h4>Receitas das vitrines</h4></v-toolbar-title>
      <v-spacer></v-spacer>
      <slot name="widget-header-action"></slot>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="fill-height">
      <v-layout column align-center fill-height>
        <v-flex class="d-flex align-center headline text-sm-center">
          R${{dataSource || '0,00'}}
        </v-flex>

        <v-flex>
          <span class="caption ">Receita total gerada por vitrines</span>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>

</template>

<script>
import AnalyticsTotalTheme from "@/api/statistic/analytics/total/theme.js";
import StatisticMixin from "@/components/dashboard/statistic/mixins/statisticMixin.js";

export default {
  mixins: [StatisticMixin],

  data() {
    return {
      api: new AnalyticsTotalTheme()
    };
  },

  components: {
  },

  created: function(){
    this.updateDataSource()
  },

  methods: {
    async updateDataSource() {
      let period = this.period;
      let toDate = new Date().toISOString();

      let fromDate = new Date();

      let fromDays = period.fromDays;
      let diffDays = fromDays * 24; //hours
      fromDate.setHours(diffDays);
      fromDate = fromDate.toISOString();

      let response = await this.api.get(fromDate, toDate);

      let collection = response.data.data;

      let total = 0;

      collection.forEach(item => {
        total += item.total;
      });

      this.dataSource = parseFloat(total)
        .toFixed(2)
        .replace(".", ",");
    }
  }
};
</script>
