<template>
   <div>
    <simple-dialog :id="dialogID">
      <template v-slot:body>
         <v-container>
            <v-layout>
               <v-flex xs12>
                  <tree-select draggable="0" :id="workflowID" :workflowID="workflowID"></tree-select>
               </v-flex>
            </v-layout>
         </v-container>
      </template>

      <template v-slot:actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="salvar()">Salvar e sair</v-btn>
      </template>
    </simple-dialog>
   </div>
</template>

<script>

	import {
		SimpleDialogHelper,
		SimpleDialog
   } from "@/helper/simpleDialogHelper.js";
   
   import TreeSelect from '@/components/tree/TreeSelect.vue'
   import TreeHelper from "@/components/tree/helper/TreeHelper.js";
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         workflowID: {
            type: String,
            required: true
         }
      },

      computed: {
         activeNode: function(){
            return this.$store.getters['categoryTrees/activeNode/get']({workflowID: this.workflowID})
         },

         treeSelectMenu: function(){
            return this.$store.getters['categoryTrees/get']({workflowID: this.workflowID})
         }
      },

      watch: {
         treeSelectMenu: function(val, oldVal){
            let loaded = val && val.length > 0 ? true : false

            this.dialogHelper.loading(!loaded)
         },

         activeNode: function(val){
            this.setCurrentCategorys(val.id)
            this.paintNodes()
         }
      },

      created: function()
      {
         if(!this.theme.additionalData.hasOwnProperty('search') || !this.theme.additionalData.search.hasOwnProperty('categoryIDs'))
         {
            this.theme.additionalData.search = this.theme.additionalData.search || {}
            this.$set(this.theme.additionalData.search, 'categoryIDs', []);
         }

         this.dialogHelper = new SimpleDialogHelper(this.dialogID);

         this.dialogHelper
            .setTitle("Escolhendo as categorias")
            .width('50%')
            .loading(true)

         let fnProcess = async () => {
            await this.$store.dispatch('categoryTrees/load', {workflowID: this.workflowID})
            this.paintNodes()
            this.dialogHelper.loading(false)
         }

         fnProcess()
      },

      data: function(){
         return {
            dialogHelper: null,
            dialogID: this.workflowID + "_tree"
         }
      },

      components: {
         SimpleDialog,
         TreeSelect
      },

      methods: {
         salvar(){
            this.dialogHelper.close();
         },

         setCurrentCategorys(catID){
            let categorys = this.theme.additionalData.search.categoryIDs
            let idx = categorys.indexOf(catID)

            if(idx > -1)
               categorys.splice(idx, 1)
            else
               categorys.push(catID)
         },

         paintNodes(){
            let menu = new Array().concat(this.treeSelectMenu)
            
            let treeHelper = new TreeHelper(menu)
            treeHelper.assignAttributes({paint: false})

            let invalidNodesIdx = new Array()

            for(let idx in this.theme.additionalData.search.categoryIDs)
            {
               let catID = this.theme.additionalData.search.categoryIDs[idx]
               let node = treeHelper.getById(catID)

               if(!node)
                  invalidNodesIdx.push(idx)
               else
                  node.paint = true
            }

            for(let idx of invalidNodesIdx)
               this.theme.additionalData.search.categoryIDs.splice(idx, 1)

            this.$store.dispatch('categoryTrees/set', {
                  workflowID: this.workflowID,
                  payload: menu
               }
            )
         },

         fechar(){
            this.dialogHelper.close();
            this._close();
         }
      }
   };
</script>