<template>
      <v-container grid-list-md text-xs-center>
         <v-layout row wrap v-for="(rule, i) in rules" :key="i">
            <v-flex xs3>
               <v-select
                  label="Operador"
                  v-model="rules[i].operator"
                  :items="operatorsCollection"
                  item-text="label"
                  item-value="value"
                  @change="change(rule, ['variable', 'condition'])"
                  ></v-select>
            </v-flex>

            <v-flex xs3>
               <v-select
                  label="Atributo"
                  v-model="rules[i].variable"
                  :items="operatorsAttributes[rules[i].operator]"
                  item-text="label"
                  item-value="value"
                  @change="change(rule, [])"
                  ></v-select>
            </v-flex>

            <v-flex xs3>
               <v-select
                  v-if="attributesConditions[rules[i].variable]"
                  label="Condição"
                  v-model="rules[i].condition"
                  :items="attributesConditions[rules[i].variable][rules[i].operator]"
                  item-text="label"
                  item-value="value"
                  @change="change(rule, ['value'])"
                  ></v-select>
            </v-flex>

            <v-flex xs3>
               <v-text-field
               readonly="readonly"
               v-if="attributesConditions[rules[i].variable]"
               v-model="rules[i].value"
               label="Valor"
               @change="change(rule)"
               required></v-text-field>
            </v-flex>
         </v-layout>
      </v-container>
</template>

<script>

   import Operator from "@/components/tema/popup/list/options/customoptions/Operator.vue"

   export default {
      extends: Operator,
   };
</script>