<template>
  <div>
    <newsletter-options v-if="item.type == 'newsletter'" :workflowID="workflowID" :item="item"></newsletter-options>
    <offer-time-options v-if="item.type == 'offer_time'" :workflowID="workflowID" :item="item"></offer-time-options>
    <weather-options v-if="item.type == 'weather_product'" :workflowID="workflowID" :item="item"></weather-options>
    <related-product-history-options v-if="item.type == 'related_product_history'" :workflowID="workflowID" :item="item"></related-product-history-options>
  </div>
</template>
   
   <script>
import NewsletterOptions from "@/components/tema/popup/list/options/NewsletterOptions.vue";
import OfferTimeOptions from "@/components/tema/popup/list/options/OfferTimeOptions.vue";
import WeatherOptions from "@/components/tema/popup/list/options/WeatherOptions.vue";
import RelatedProductHistoryOptions from "@/components/tema/popup/list/options/RelatedProductHistOptions.vue";

import DefaultMixin from "@/components/tema/popup/list/options/mixins/defaultMixin.js";

export default {
  mixins: [DefaultMixin],

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  created: function() {},

  computed: {},

  components: {
    NewsletterOptions,
    OfferTimeOptions,
    WeatherOptions,
    RelatedProductHistoryOptions
  },

  methods: {}
};
</script>