<template>
  <div v-if="this.theme.additionalData">
    <advanced-edit
      v-if="item.additionalData.currentOption == 'advanced_edit'"
      :workflowID="workflowID"
    ></advanced-edit>
    <enabled v-if="item.additionalData.currentOption == 'enabled'" :workflowID="workflowID"></enabled>
    <delete v-if="item.additionalData.currentOption == 'delete'" :workflowID="workflowID"></delete>
    <duplicate v-if="item.additionalData.currentOption == 'duplicate'" :workflowID="workflowID"></duplicate>
    <render-ms v-if="item.additionalData.currentOption == 'renderMS'" :workflowID="workflowID"></render-ms>
  </div>
</template>
   
   <script>
import AdvancedEdit from "@/components/tema/popup/layout/AdvancedEdit.vue";

import DefaultMixin from "@/components/tema/popup/list/options/mixins/defaultMixin.js";
import Enabled from "@/components/tema/popup/list/options/defaultoptions/Enabled.vue";
import Delete from "@/components/tema/popup/list/options/defaultoptions/Delete.vue";
import Duplicate from "@/components/tema/popup/list/options/defaultoptions/Duplicate.vue";
import RenderMs from "@/components/tema/popup/list/options/defaultoptions/RenderMS.vue";

export default {
  mixins: [DefaultMixin],

  props: {
    item: {
      type: Object,
      required: true
    }
  },

  created: function() {},

  computed: {},

  components: {
    Enabled,
    Delete,
    Duplicate,
    AdvancedEdit,
    RenderMs
  },

  methods: {}
};
</script>