<template>
   <div>
      <coupon-option v-if="item.additionalData.currentOption == 'coupon'" :workflowID="workflowID" :item="item"></coupon-option>
      <visual-editor v-if="item.additionalData.currentOption == 'titles'" :workflowID="workflowID" :item="item"></visual-editor>
   </div>
</template>

<script>
   import CouponOption from "@/components/tema/popup/list/options/customoptions/offerTime/Coupon.vue"
   import VisualEditor from "@/components/tema/popup/list/options/customoptions/offerTime/VisualEditor.vue"

   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         item: {
            type: Object,
            required: true
         }
      },

      created: function(){
      },

      computed: {
      },

      components: {
         VisualEditor,
         CouponOption
      },

      methods: {
      }
   };
</script>