<template>
   <div>
      <visual-editor v-if="item.additionalData.currentOption == 'titles'" :workflowID="workflowID" :item="item"></visual-editor>
   </div>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
   import VisualEditor from "@/components/tema/popup/list/options/customoptions/abstract/VisualEditor.vue"

   export default {
      mixins: [DefaultMixin],

      props: {
         item: {
            type: Object,
            required: true
         }
      },

      created: function(){
      },

      computed: {
      },

      components: {
         VisualEditor
      },

      methods: {
      }
   };
</script>