<template>
   <div>
      <v-container>
         <v-layout>
            <v-flex md-6>
               <v-text-field v-model="theme.name" required></v-text-field>
            </v-flex>
            <v-flex md-6>
               <v-btn color="primary" v-bind:disabled="!theme.name" @click="fechar(true)">OK</v-btn>
               <v-btn color="primary" v-bind:disabled="!theme.name" @click="fechar(false)">Cancelar</v-btn>
            </v-flex>
         </v-layout>
      </v-container>
   </div>
</template>
<script>

import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

export default {
   mixins: [DefaultMixin],

   methods: {
      async fechar(save = true){
         if(!save)
            await this._refresh()

         await this._close(save)
      }
   },

   created: function (){
      this.title = this.theme.name
   },

   data() {
      return {
         title: null
      }
   }
};
</script>