<template>
   <div>
      <climate-option v-if="item.additionalData.currentOption == 'climate'" :workflowID="workflowID" :item="item"></climate-option>
      <visual-editor v-if="item.additionalData.currentOption == 'titles'" :workflowID="workflowID" :item="item"></visual-editor>
      <search-filter-option v-if="item.additionalData.currentOption == 'search_filter'" :workflowID="workflowID" :item="item"></search-filter-option>
   </div>
</template>

<script>
   import VisualEditor from "@/components/tema/popup/list/options/customoptions/abstract/VisualEditor.vue"
   import ClimateOption from "@/components/tema/popup/list/options/customoptions/Climate.vue"
   import SearchFilterOption from "@/components/tema/popup/list/options/customoptions/weather/SearchFilter.vue"

   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         item: {
            type: Object,
            required: true
         }
      },

      created: function(){
      },

      computed: {
      },

      components: {
         VisualEditor,
         ClimateOption,
         SearchFilterOption
      },

      methods: {
      }
   };
</script>