<template>
   <div>
      <newsletter-columns v-if="item.type == 'newsletter'" :workflowID="workflowID" :item="item"></newsletter-columns>
      <offer-time-columns v-if="item.type == 'offer_time'" :workflowID="workflowID" :item="item"></offer-time-columns>
      <weather-columns v-if="item.type == 'weather_product'" :workflowID="workflowID" :item="item"></weather-columns>
      <related-product-history-columns v-if="item.type == 'related_product_history'" :workflowID="workflowID" :item="item"></related-product-history-columns>
   </div>
</template>
   
   <script>
      import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';
      import OfferTimeColumns from "@/components/tema/popup/list/columns/OfferTimeColumns.vue"
      import WeatherColumns from "@/components/tema/popup/list/columns/WeatherColumns.vue"
      import RelatedProductHistoryColumns from "@/components/tema/popup/list/columns/RelatedProductHistColumns.vue"
      import NewsletterColumns from "@/components/tema/popup/list/columns/NewsletterColumns.vue"
   
      export default {
         mixins: [DefaultMixin],
   
         props: {
            item: {
               type: Object,
               required: true
            }
         },

         components: {
            OfferTimeColumns,
            WeatherColumns,
            RelatedProductHistoryColumns,
            NewsletterColumns
         }
      };
   </script>