<template>
   <div>
      <v-tooltip top>
         <template v-slot:activator="{ on }">
            <v-icon v-on="on" small @click="setCurrentOption('enabled', item)"
               v-bind:color="item.enabled ? 'primary' : 'gray'">visibility</v-icon>
         </template>
         <span>Desativar/Ativar</span>
      </v-tooltip>

      <v-tooltip top v-if="item.allowDrop">
         <template v-slot:activator="{ on }">
            <v-icon v-on="on" small @click="setCurrentOption('delete', item)">delete</v-icon>
         </template>
         <span>Remover</span>
      </v-tooltip>

      <v-tooltip top>
         <template v-slot:activator="{ on }">
            <v-icon v-on="on" small @click="setCurrentOption('duplicate', item)">file_copy</v-icon>
         </template>
         <span>Duplicar</span>
      </v-tooltip>

      <v-tooltip top>
         <template v-slot:activator="{ on }">
            <v-icon v-on="on" small @click="setCurrentOption('renderMS', item)">forward_30</v-icon>
         </template>
         <span>Tempo de carregamento</span>
      </v-tooltip>

      <v-tooltip top>
         <template v-slot:activator="{ on }">
            <v-icon v-on="on" small @click="setCurrentOption('advanced_edit', item)">code</v-icon>
         </template>
         <span>Editor avançado HTML</span>
      </v-tooltip>
   </div>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         item: {
            type: Object,
            required: true
         }
      },
   };
</script>