<template>
   <div>
      <v-tooltip top>
         <template v-slot:activator="{ on }">
            <v-icon v-on="on" small @click="setCurrentOption('titles', item)">text_fields</v-icon>
         </template>
         <span>Titulos e imagem</span>
      </v-tooltip>
   </div>
</template>

<script>
   import DefaultMixin from '@/components/tema/popup/list/options/mixins/defaultMixin.js';

   export default {
      mixins: [DefaultMixin],

      props: {
         item: {
            type: Object,
            required: true
         }
      },
   };
</script>