<template>
  <div>
    <tree-dragg :data="treeData" draggable="draggable" crossTree="crossTree" @change="treeChange">
        <div slot-scope="{data, store, vm}">
          <template v-if="!data.isDragPlaceHolder">
            <b
              v-if="data.children && data.children.length"
              @click="store.toggleOpen(data)"
            >{{data.open ? '-' : '+'}}&nbsp;</b>
            <span v-bind:class="{colorGreen: isDragglable && data.paint}">{{data.name}}</span>
          </template>
        </div>
      </tree-dragg>
  </div>
</template>

<script>
import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js";
import { DraggableTree } from "vue-draggable-nested-tree";
import TreeHelper from "@/components/tree/helper/TreeHelper.js";

export default {
  name: "tree",

  components: {
    treeDragg: DraggableTree
  },

  props: {
    id: String,
    workflowID: String,
    list: {
      required: false
    },
    draggable: {
      required: false
    }
  },
  data() {
    return {
    };
  },
  created() {
  },

  computed: {

    isDragglable(){
      return parseInt(this.draggable) == 1 ? true : false
    },

    treeData() {
      let treeData = JSON.parse(JSON.stringify(this._getFromStore()))

      let treeHelper = new TreeHelper(treeData)
      treeHelper.assignAttributes({draggable: this.isDragglable})

      return treeData
    }
  },

  methods: {
    treeChange(node, targetTree) {
      let helper = new WorkflowStoreHelper(this.workflowID);
      let data = helper.get();
      data = targetTree.getPureData()

      helper.save(data)
    },

    _getFromStore() {
      let helper = new WorkflowStoreHelper(this.workflowID);
      let data = helper.get();

      if (!data) return null;

      return Array.isArray(data) ? data : [data];
    }
  }
};
</script>
    <style lang="stylus" scoped>
    .colorGreen {
      color: green;
      font-weight: 500;
    }

    .he-tree {
      border: 1px solid #ccc;
      padding: 20px;
    }

    .tree-node-inner {
      padding: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
    }

    .draggable-placeholder {
    }

    .draggable-placeholder-inner {
      border: 1px dashed #0088F8;
      box-sizing: border-box;
      background: rgba(0, 136, 249, 0.09);
      color: #0088f9;
      text-align: center;
      padding: 0;
      display: flex;
      align-items: center;
    }

    .tree3 {
      .tree-node-inner {
        border: none;
        padding: 0px;
      }

      .tree-node-inner-back:hover {
        background: #ddd;
      }
    }

    .tree4 {
      .tree-node-inner {
        border: none;
        border-bottom: 1px solid #ccc;
        padding: 5px 10px;
        backgroud: #ccc;
      }

      .draggable-placeholder-inner {
        background-color: orangered;
      }
    }

    fieldset{
      border: none;
    }
</style>
      