<template>
  <div>
    <tree-dragg :data="treeData" draggable="draggable" crossTree="crossTree" @change="treeChange">
      <div slot-scope="{data, store, vm}">
        <template v-if="!data.isDragPlaceHolder">
          <b
            v-if="data.children && data.children.length"
            @click="store.toggleOpen(data)"
          >{{data.open ? '-' : '+'}}&nbsp;</b>
          <span @click="nodeClick(data, store)" v-bind:class="{colorGreen: data.paint}">{{data.name}}</span>
        </template>
      </div>
    </tree-dragg>
  </div>
</template>

<script>

import WorkflowStoreHelper from "@/helper/workflowStoreHelper.js"
import TreeComponent from "@/components/tree/Tree.vue";
import TreeHelper from "@/components/tree/helper/TreeHelper.js";

export default {
  extends: TreeComponent,
  name: "treeSelect",

  computed: {
    treeData() {
      let data = this.$store.getters['categoryTrees/get']({workflowID: this.workflowID})
      let treeData = JSON.parse(JSON.stringify(data))
      
      let treeHelper = new TreeHelper(treeData)
      treeHelper.assignAttributes({draggable: this.isDragglable})

      return treeData
    }
  },

  methods: {
    treeChange(node, targetTree) {
    },

    nodeClick(node, targetTree) {
      this.$store.dispatch('categoryTrees/activeNode/set', {
        workflowID: this.workflowID,
        payload: {
          id: node.id,
          updated_at: new Date().getTime()
        }
      })
    },
  },

  created()
  {
    this.$store.dispatch('categoryTrees/load', {workflowID: this.workflowID})
  },
};
</script>

<style>
  .tree-node span{
    cursor: pointer;
  }
</style>