<template>
  <div>
      <simple-dialog :id="dialogID">
          <template v-slot:body style="padding: 0">
            <card color="transparent" title="Editor Avançado">
              <template v-slot:body>
                <v-card color="transparent" class="elevation-0">
                  <v-card-text>
                    <codemirror v-model="html" :options="cmOptions"></codemirror>
                  </v-card-text>
                </v-card>
              </template>
            </card>
          </template>

          <template v-slot:header-before-title>
            <v-btn icon dark @click="fechar(false)">
              <v-icon>close</v-icon>
            </v-btn>
          </template>

          <template v-slot:header-after-title>
            <v-spacer></v-spacer>
            <v-btn icon dark @click="fechar()">
              <v-icon>check</v-icon>
            </v-btn>
          </template>

          <template v-slot:actions>
            <div></div>
          </template>
        </simple-dialog>
  </div>
</template>

<script>
  import {
    codemirror
  } from 'vue-codemirror'

  import 'codemirror/mode/xml/xml.js'
  import 'codemirror/addon/selection/active-line.js'
  import 'codemirror/addon/edit/closetag.js'
  import 'codemirror/lib/codemirror.css'
  import 'codemirror/theme/yonce.css'

  import DefaultMixin from '@/components/tema/list/mixins/defaultMixin.js'
  import HTMLMixin from '@/components/tema/list/layout/mixins/htmlMixin.js'

  import {
    SimpleDialogHelper,
    SimpleDialog
  } from "@/helper/simpleDialogHelper.js";
  import Card from "@/components/Card.vue";

  export default {
    components: {
      codemirror,
      
      SimpleDialog,
      Card
    },

    mixins: [DefaultMixin, HTMLMixin],

    computed: {
    },

    created() {
      this.html = this.getTheme()

      this.dialogHelper = new SimpleDialogHelper(this.dialogID);

      this.dialogHelper
        .width('90%')
        .setTitle("Editor de Layout")
        .loading(false)
        .open();
    },

    methods: {
      fechar(save = true){

        if(save)
          this.theme.designModel.html = this.encodeBase64(this.encodeHTML(this.html))
        
        this.dialogHelper.close()
        this._close()
      },
    },

    data() {
      return {
        dialogHelper: null,
        dialogID: "currentThemeAdvancedEdit",
        loading: false,
        html: null,
        cmOptions: {
          tabSize: 4,
          styleActiveLine: false,
          lineNumbers: true,
          autoCloseTags: true,
          line: true,
          mode: 'text/html',
          theme: 'yonce'
        }
      };
    }
  };
</script>

<style>
    .speed-save {
      top: 2px !important;
    }
  
    .CodeMirror {
      display: block;
      position: relative;
      height: 70vh;
    }

    fieldset:not(.loading) {
      display: contents;
    }
  </style>